{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>PetJibe - {% block title %}{% endblock %}</title>
	<meta name="description" content="">
         <!--  favicon -->
        <link rel="shortcut icon" href="assets/images/ico/favicon.png">
 <!-- FontAwesome CSS -->
        <link href="{% static 'v2/css/font-awesome.min.css'%}" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="{% static 'v2/css/bootstrap.min.css'%}" rel="stylesheet">
	 <!-- Style CSS -->
        <link href="{% static 'v2/css/style.css'%}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
     <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="57x57" href="{% static 'v2/images/apple-icon-57x57.png'%}">
<link rel="apple-touch-icon" sizes="60x60" href="{% static 'v2/images/apple-icon-60x60.png'%}">
<link rel="apple-touch-icon" sizes="72x72" href="{% static 'v2/images/apple-icon-72x72.png'%}">
<link rel="apple-touch-icon" sizes="76x76" href="{% static 'v2/images/apple-icon-76x76.png'%}">
<link rel="apple-touch-icon" sizes="114x114" href="{% static 'v2/images/apple-icon-114x114.png'%}">
<link rel="apple-touch-icon" sizes="120x120" href="{% static 'v2/images/apple-icon-120x120.png'%}">
<link rel="apple-touch-icon" sizes="144x144" href="{% static 'v2/images/apple-icon-144x144.png'%}">
<link rel="apple-touch-icon" sizes="152x152" href="{% static 'v2/images/apple-icon-152x152.png'%}">
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'v2/images/apple-icon-180x180.png'%}">
<link rel="icon" type="image/png" sizes="192x192"  href="{% static 'v2/images/android-icon-192x192.png'%}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'v2/images/favicon-32x32.png'%}">
<link rel="icon" type="image/png" sizes="96x96" href="{% static 'v2/images/favicon-96x96.png'%}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'v2/images/favicon-16x16.png'%}">
<link rel="manifest" href="{% static 'v2/images/manifest.json'%}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="images/ms-icon-144x144.png">
  {% block header_includeds %}

  {% endblock %}
  </head>
  <body>
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand page-scroll" href="/">
		  <img src="{% static 'v2/images/logo.png'%}" alt="" style="margin-top: -15px;">
		  </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
         <!-- <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>-->
          <ul class="nav navbar-nav navbar-right">
              {% for cat in cats %}
           <li><a href="/petArticle/{{ cat.id }}">{{ cat.name }}</a></li>
              {% endfor %}
{#           <li><a href="blog-main.html">PET HEALTH</a></li>#}
{#           <li><a href="blog-main.html">PET FOOD</a></li>#}
{#           <li><a href="blog-main.html">GROOMING</a></li>#}
{#           <li><a href="blog-main.html">TRAINING</a></li>#}
{#           <li><a href="blog-main.html">PET SITTING</a></li>#}
{% if user.is_authenticated %}

                   <li>
<ul class="nav navbar-nav navbar-right">
               <li class="dropdown padleft">
                   <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                       <span class="glyphicon glyphicon-user" style="margin-right:5px;"></span><strong>{% if user.first_name %}
                       {{ user.first_name }}{% else %}
                       {{ user.email }}{% endif %}
                       </strong>
                       <span class="glyphicon glyphicon-chevron-down"></span>
                   </a>
                   <ul class="dropdown-menu">
                       <li>
                           <div class="navbar-login">
                               <div class="row">
                                   <div class="col-xs-4">
                                      <img class="blog-post-image circle-rounded"
                                           src="https://totalconceptsroofing.com/wp-content/uploads/2018/06/people.png"/>
                                   </div>
                                   <div class="col-xs-8">
                                       <p class="text-left"><strong>{{ user.get_full_name }}</strong></p>
                                       <p class="text-left small">{{ user.email }}</p>
                                       <p class="text-left"><a href="/ownerProfile" >Profile</a></p>
<p class="text-left"><a href="/petRegisterPage">Add a Pet</a></p>
<p class="text-left"><a href="/changepassword">Change Password</a></p>
                                   </div>
                               </div>
                           </div>
                       </li>
                       <li class="divider"></li>
                       <li>
                           <div class="navbar-login navbar-login-session">
                               <div class="row">
                                   <div class="col-lg-12">
                                       <p>
                                           <a href="/logout" class="btn btn-danger btn-block signouttext">Sign Out</a>
                                       </p>
                                   </div>
                               </div>
                           </div>
                       </li>
                   </ul>
               </li>
           </ul>

</li>
	 {% else %}
              <li><a href="/signin" title="Login" style="float:left;"><span class="login-icon"></span><span class="sr-only">Login</span></a></li>
<!--Code for Signed In User-->
{% endif %}


          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    {% block main %}

{% endblock %}
	<footer class="footer-section text-center" style="padding:10px;">
            <div class="container">

                <div class="row">
                    <div class="col-xs-12">
                       <div class="social-icon clearfix">
                            <ul class="list-inline navbar-left">
                                <li><a href="https://www.facebook.com/PetJibe/"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="https://twitter.com/PetJibe"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://www.instagram.com/petjibe_petcommunity/"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
							</ul>
							<ul class="list-inline navbar-right" style="margin-top:10px;">
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

				<div>
				<section class="home-newsletter">
					<div class="container">
					<div class="row">
					<div class="col-sm-12">
						<div class="single">
							<h2>Subscribe to our Newsletter</h2>
						<div class="input-group">
							 <input type="email" class="form-control" id="subEmail" name="email" placeholder="Enter your email">
							 <span class="input-group-btn">
							 <button class="btn btn-theme" id="subscribe" type="submit">Subscribe</button>
                                 {% csrf_token %}
							 </span>
							  </div>
						</div>
					</div>
					</div>
					</div>
				</section>
				</div>
            </div>
        </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src='{% static "lib/jquery/jquery.min.js" %}'></script>
  <script src='{% static "lib/jquery/jquery-migrate.min.js" %}'></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'v2/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'v2/js/bootstrap-checkbox.js'%}"></script>
<script src="{% static 'v2/js/bootstrapValidator.js'%}"></script>
	  <!-- Scrolling Nav JavaScript -->
        <script src="{% static 'v2/js/jquery.easing.min.js'%}"></script>
        <script src="{% static 'v2/js/jquery.sticky.min.js'%}"></script>
        <script src="{% static 'v2/js/smoothscroll.min.js'%}"></script>
        <script src="{% static 'v2/js/jquery.inview.min.js'%}"></script>
        <script src="{% static 'v2/js/jquery.countTo.min.js'%}"></script>
        <script src="{% static 'v2/js/jquery.shuffle.min.js'%}"></script>
        <script src="{% static 'v2/js/jquery.BlackAndWhite.min.js'%}"></script>
        <script src="{% static 'v2/js/owl.carousel.min.js'%}"></script>
      <script src='{% static "js/common.js" %}'></script>
        {% block extra_scripts %}{% endblock %}
		<script type="text/javascript">
		 (function () {
        var nav = $('.navbar');
        var scrolled = false;

        $(window).scroll(function () {

            if (110 < $(window).scrollTop() && !scrolled) {
                nav.addClass('sticky animated fadeInDown').animate({ 'margin-top': '0px' });

                scrolled = true;
            }

            if (110 > $(window).scrollTop() && scrolled) {
                nav.removeClass('sticky animated fadeInDown').css('margin-top', '0px');

                scrolled = false;
            }
        });
    }());

		</script>
   {% block extrajs %}{% endblock %}
  </body>
</html>