{% extends "v2/base.html" %}
{% load static %}
{% block title %}{{ article.cont_heading }}{% endblock %}
{% load comments static %}
{% block header_includeds %}


<link rel="stylesheet" type="text/css" href="{% static 'fluent_comments/css/ajaxcomments.css' %}" />


<link href="{% static 'v2/css/style-signin.css' %}" rel="stylesheet">
    <link href="{%static 'v2/css/bootstrap-social.css' %}" rel="stylesheet">
{% endblock %}
{% block main %}
  <div class="container">

      <div class="row">

        <!-- Post Content Column -->
      <div class="col-lg-2"></div>
    <div class="col-lg-8">

          <!-- Title -->
          <h1 class="martop">{{ article.cont_heading }}</h1>

          <!-- Author -->
          <p class="lead">
            by
            <a href="#">PetJibe</a>
          </p>

          <hr>

          <!-- Date/Time -->
          <p>Posted on {{ article.add_date }}</p>

          <hr>

          <!-- Preview Image -->
          <img class="blog-post-image rounded" src="{{ article.cont_image }}" alt="">

          <hr>

          <!-- Post Content -->
          {{ article.cont_desc }}
          <hr>

{% render_comment_list for article %}
{% render_comment_form for article %}
{#          <!-- Comments Form -->#}
{#          <div class="card martop">#}
{#            <h3 class="card-header">Leave a Comment:</h3>#}
{#            <div class="card-body">#}
{#              <form>#}
{#                <div class="form-group">#}
{#                  <textarea class="form-control" rows="3"></textarea>#}
{#                </div>#}
{#                <button type="submit" class="btn btn-primary">Submit</button>#}
{#              </form>#}
{#            </div>#}
{#          </div>#}
{##}
{#          <!-- Single Comment -->#}
{#          <div class="media margbottom">#}
{#            <img class="d-flex margright rounded-circle" src="http://placehold.it/50x50" alt="">#}
{#            <div class="media-body">#}
{#              <h3 class="ftwg">Commenter Name</h3>#}
{#              <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>#}
{#            </div>#}
{#          </div>#}

          <!-- Comment with nested comments -->
{#          <div class="media margbottom">#}
{#            <img class="d-flex margright rounded-circle" src="http://placehold.it/50x50" alt="">#}
{#            <div class="media-body">#}
{#              <h3 class="mt-0">Commenter Name</h3>#}
{#             <p> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>#}
{##}
{#              <div class="media margbottom">#}
{#                <img class="d-flex margright rounded-circle" src="http://placehold.it/50x50" alt="">#}
{#                <div class="media-body">#}
{#                  <h3 class="mt-0">Commenter Name</h3>#}
{#                  <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>#}
{#                </div>#}
{#              </div>#}
{##}
{#              <div class="media margbottom">#}
{#                <img class="d-flex margright rounded-circle" src="http://placehold.it/50x50" alt="">#}
{#                <div class="media-body">#}
{#                  <h3 class="mt-0">Commenter Name</h3>#}
{#                  <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>#}
{#                </div>#}
{#              </div>#}
{##}
{#            </div>#}
{#          </div>#}

        </div>

      

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->
    {% endblock %}
{% block extrajs %}
    <script type="text/javascript" src="{% static 'fluent_comments/js/ajaxcomments.js' %}"></script>
    <script type="text/javascript">
     (function () {
        var nav = $('.navbar');
        var scrolled = false;

        $(window).scroll(function () {

            if (110 < $(window).scrollTop() && !scrolled) {
                nav.addClass('sticky animated fadeInDown').animate({ 'margin-top': '0px' });

                scrolled = true;
            }

            if (110 > $(window).scrollTop() && scrolled) {
                nav.removeClass('sticky animated fadeInDown').css('margin-top', '0px');

                scrolled = false;
            }
        });
    }());
    </script>
{% endblock %}