{% extends "v2/base.html" %}
{% load static %}
{% block title %}Blogs{% endblock %}
{% block header_includeds %}
<link href="{% static 'v2/css/style-signin.css' %}" rel="stylesheet">
    <link href="{%static 'v2/css/bootstrap-social.css' %}" rel="stylesheet">
    <link href="{% static 'v2/css/style.css' %}" rel="stylesheet">
{% endblock %}
{% block main %}
    <!-- Header with Background Image -->

    <header>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h1 class="display-3 text-center text-white martop">{{ category }}</h1>

          </div>
        </div>
      </div>
                <div> <img class="blog-post-image" src="{% static 'v2/images/blgmain.jpg' %}"></div>
    </header>

    <!-- Page Content -->
    <div class="container">



      <div class="row" id="master_row">

      <!-- /.row -->

    </div>
    </div>
    <!-- /.container -->
  {% endblock %}
{% block extrajs %}
    <script type="text/javascript">
    const card_template=({id,image,title,short_txt,date,page_url})=>`
         <d iv class="col-sm-4 margbottom">
          <div class="card">
            <img class="card-img-top" style="max-height:150px" src="${image}" onload="image_an(this)" alt="" onerror="this.onerror=null;this.src='{% static 'v2/images/blgimg.jpg' %}';">
            <div class="card-body">
              <a href="/article/${id}"><h2 class="card-title">${title}</h2></a>
              <p class="card-text">${short_txt}</p>
              <div class="card-footer">
                <p>${date} | Petjibe</p>
                <div style="float:right;">
                   <a class="btn btn-social-icon btn-xs btn-facebook "
                   onclick="fbshare('${page_url}')" >
                   <span class="fa fa-facebook"></span></a>
                  <a class="btn btn-social-icon btn-xs btn-twitter"
                  onclick="tweetCurrentPage('${page_url}')" >
                   <span class="fa fa-twitter"></span></a>
                    <a class="btn btn-social-icon btn-xs btn-instagram">
                   <span class="fa fa-instagram"></span></a></div>
              </div>
              </div>
          </div>
        </div>`
    function image_an(img_tag) {
                if(img_tag.height<149){
                    img_tag.src='{% static 'v2/images/blgimg.jpg' %}';
                }
        console.log(img_tag.height)
    }
    function fbshare(url) {
        window.open("https://www.facebook.com/sharer/sharer.php?u="+escape(url)+"&t="+document.title, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;
    }
    function tweetCurrentPage(url)
    { window.open("https://twitter.com/share?url="+escape(url)+"&text="+document.title, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false; }

            var page_no = 1;
         {% if cat_id %}
         var cat_id ={{ cat_id }};
             {% else %}
         var cat_id=0;
         {% endif %}
    var html_str ='';
    var lock_ajax=0;
     (function () {
        var nav = $('.navbar');
        var scrolled = false;

        $(window).scroll(function () {


            if($(window).scrollTop() == $(document).height() - $(window).height()) {
           if(!lock_ajax){
               get_articles();
           }
    }
            if (110 < $(window).scrollTop() && !scrolled) {
                nav.addClass('sticky animated fadeInDown').animate({ 'margin-top': '0px' });

                scrolled = true;
            }

            if (110 > $(window).scrollTop() && scrolled) {
                nav.removeClass('sticky animated fadeInDown').css('margin-top', '0px');

                scrolled = false;
            }
        });
         if (cat_id>0){
             get_articles()
         }

    }());
    function get_articles() {
        lock_ajax = 1;
        $.ajax({
            type:'GET',
                url : '/get_articles/'+cat_id.toString()+'/' +page_no.toString()+'/6/',
            success: function (data) {
               html_str = ''
                data.forEach(function(item){
                   html_str = html_str+[item].map(card_template).join('')
                });
               $('#master_row').append(html_str);
               lock_ajax=0;
               if(data.length>0){
                   page_no++;
               }
            },
            error:function (err) {
                lock_ajax=0;
            }
        })
    }

    </script>
{% endblock %}