{% extends "v2/base.html" %}
{% load static %}
{% block title %}Welcome to Petjibe{% endblock %}
{% block main %}
	<section class="bg-overlay">
	<div>
                <video class="text-center" style="width:100%;" muted="" autoplay="" loop="" poster="assets/videos/Explore-HD.png">
                    <!-- WebM/VP8 for Firefox4, Opera, and Chrome -->
                    <source type="video/webm" src="{% static 'v2/images/gatos.webm'%}">
                    <!-- MP4 for Safari, IE9, iPhone, iPad, Android, and Windows Phone 7 -->
                    <source type="video/mp4" src="{% static 'v2/images/gatos.mp4'%}">
                    Your browser does not support the video tag.
                </video>

                <div class="carousel-caption">

                    <p>We love pets and want to make taking care of them easy and fun. We want to create a pet parent community where pet parents are able to connect and help each other, provide useful pet content and tie up with local pet providers to provide products and services at optimal cost.</p>


            <!-- pet type dropdown  -->

            <div class="dropdown" style="margin-left:5%;">{% if pet_type_list %}
                <select id="pet_type" class="btn btn-default dropdown-toggle drpbtn col-xs-3" style="margin-right:5px;">
                    {% with 1 as pet_sel %}
					{% for one_pet in pet_type_list %}
						{% ifequal one_pet.0 pet_sel %}
							<option value="{{one_pet.0}}" >{{one_pet.1}}</option>
						{% else %}
							<option value="{{one_pet.0}}">{{one_pet.1}}</option>
						{% endifequal %}
					{% endfor %}
  					{% endwith %}
                 </select>
                {% endif %}





				 <input type="text" name="radius" id="radius" placeholder="Miles" class="btn btn-default dropdown-toggle drpbtn col-xs-3 " style="margin-right:5px;">
				 <input type="text" name="zipcode" id="zipcode" placeholder="zip code" class="btn btn-default dropdown-toggle drpbtn col-xs-3" style="margin-right:5px;">
				 <input class="drpbtn btn col-xs-2" id="fyndExtFamly" type="submit" value="🔍" href="#" style="margin-right:5px;" >
            <input type="hidden" id="clat" value="" />
  			<input type="hidden" id="clong" value="" />
            </div>


            <!-- pet breed dropdown  -->

          <!--  <div class="dropdown" style="display: none">
                <select id="pet_breed" class="btn btn-default dropdown-toggle drpbtn">
                    <option value="0" selected="">Pet Breed</option>
                                            <option value="1">British Shorthair</option>
                                            <option value="2">Persian Cat</option>
                                            <option value="3">Siamese Cat</option>
                                            <option value="4">Maine Coon</option>
                                            <option value="5">Ragdoll</option>
                                            <option value="6">Sphynx Cat</option>
                                            <option value="7">Abyssinian Cat</option>
                                            <option value="8">Exotic Shorthair</option>
                                            <option value="9">Burmese cat</option>
                                            <option value="10">Bengal cat</option>
                </select>
            </div>-->

            <!-- pet owner interests  -->
            <!--      <div class="dropdown">
                    <select id="owner_intrs" class="btn btn-default dropdown-toggle drpbtn">
                        <option value="0">Pet Owner Interests</option>
                        <option value="1">Dog Training</option>
                        <option value="4">Feed cats</option>
                        <option value="5">Walk the dog</option>
                    </select>
                </div>-->

            <!-- radius  -->
          <!--  <div class="dropdown"><input type="text" name="radius" id="radius" placeholder="Miles" class="btn btn-default dropdown-toggle drpbtn col-xs-7"></div>

            <div class="dropdown"> <input type="text" name="zipcode" id="zipcode" placeholder="zip code" class="btn btn-default dropdown-toggle drpbtn col-xs-7"></div>-->


            <!-- hidden data -->

			<!--<div class="dropdown">
				<input class="drpbtn btn col-xs-12" id="fyndExtFamly" type="submit" value="🔍" href="#" >
			</div>-->

                </div>

            </div>
	</section>
{% endblock %}
{%  block extrajs%}

    	<script type="text/javascript">
	var zipc = "";
	//================================================================
		//======= google api search for current location
	//================================================================
	{% if google_search_location_key %}
		var google_search_location = "{{google_search_location_key}}";
	{% else %}
		var google_search_location = "AIzaSyDEP2zCvjYOIZiKEu7Le9UGt1zdv5srYSE";
	{% endif %}

	//================================================================
		//======= zipcode population error field
	//================================================================
	function locSearchError(){
		alert("error");
	}
	//================================================================
		//======= method to populate zipcode
	//================================================================
	function locSearchSuccess(data){
		var clat=data["location"]["lat"];
		var clong=data["location"]["lng"];

		//====== value stored in hidden field
		$("#clat").val(clat);
		$("#clong").val(clong);

		var url = "https://maps.googleapis.com/maps/api/geocode/json?latlng="+clat+","+clong+"&sensor=true&key="+google_search_location

		$.ajax({
			type:'POST',
            url: url,
            /* contentType: "application/json; charset=utf-8", */
            dataType: "json",
            success: function(data){
            	var cur_zipcode = "";
            	var geodata = data["results"];
             for(var i=0; i<geodata.length; i++){
            		var addr = geodata[i]["address_components"];
            		for(var j=0; j<addr.length; j++){
            			var types = addr[j]["types"];
            			if(jQuery.inArray( "postal_code", types ) > -1){
            				cur_zipcode = addr[j]["short_name"];
            				break;
            			}
            			if (cur_zipcode.length>1){
            			    break
                        }
            		}
            	 }
            	$("#zipcode").val(cur_zipcode);
            	zipc = cur_zipcode;
            },
            error: function(e){

            },
		});

		/*
		*************************************************
					old code for zipcode
		*************************************************

		var data = {
				"clat":clat,
				"clong":clong
		}
		// call ajax to get nearest zipcode of petjibeuser
		$.ajax({
			type:'POST',
            url: "getzip/",
			data:data,
            dataType: "json",
            success: function(data){
            	var zipcode_list=data["zipcode_list"];
            	$("#zipcode").html("");
            	var zip_len = zipcode_list.length;
            	var htmlcontent="";
            	if(zip_len>0){
            		for(var i=0;i<zip_len;i++){
                		htmlcontent += "<option value='"+zipcode_list[i]+"'>"+zipcode_list[i]+"</option>";
                	}
                	$("#zipcode").html(htmlcontent);
            	}
            	else{
            		$("#zipcode").html("<option>No data found</option>");
            	}
            },
            error: function(){
            	alert("error");
            },
            headers:{"X-CSRFToken": $('input[name="csrfmiddlewaretoken"]').attr('value')},
		}); */
	}

	//================================================================
		//======= google location search for current location
	//================================================================
	function locationsearch(url){
			$.ajax({
				type:'POST',
	            url: url,
	            contentType: "application/json; charset=utf-8",
	            dataType: "json",
	            success: locSearchSuccess,
	            error: locSearchError,
			});
		}
		$(document).ready(function(e){
			$("#msgSub").text("");
			//================================================================
  				//======= google api search for current location
  			//================================================================
			{% if geolocation_api_key %}
				var geolocation_api_key = "{{geolocation_api_key}}";
			{% else %}
				var geolocation_api_key = "AIzaSyBuOzNYQo-JiKs6qc0IRJVmHrH_zk3fAMw";
			{% endif %}
			var url = "https://www.googleapis.com/geolocation/v1/geolocate?key="+geolocation_api_key
			locationsearch(url);



			//================================================================
  				//======= ajax call to subscribe petjibe community
  			//================================================================


		//================================================================
  			//======= ajax call to populate breed according to pet type
  		//================================================================
{#  		$("#pet_type").on("change",function(e){#}
{#  			e.preventDefault();#}
{#  			$("#errormsg").text("");#}
{#  			var pettype = $("#pet_type option:selected").text();#}
{#  			if(pettype=="Any"){#}
{#  				$("#pet_breed option:selected").text("Any");#}
{#  			}#}
{#  			else if(pettype=="Pet Type"){#}
{#  				$("#pet_breed option:selected").text("Pet Breed");#}
{#  				$("#errormsg").text("** Please select correct pet type");#}
{#  				#}
{#  			}#}
{#  			else{#}
{#  				data={#}
{#  	  					"pettype":pettype#}
{#  	  			}#}
{#  	  			//sending form data#}
{#  				 $.ajax({#}
{#  		            	type:'POST',#}
{#  		            	url: '/pet-breed/',#}
{#  		            	data:JSON.stringify(data),#}
{#  		            	success: function(response){#}
{#  		            		//population of pet breed#}
{#  		            		var breed_len = response['pet_breed'].length;#}
{#  		            		var html_content = "";#}
{#  		            		$("#pet_breed").html("");#}
{#  		            		if(breed_len>0){#}
{#  		            			for(var i=0; i<breed_len; i++){#}
{#  			            			html_content += "<option value='"+response['pet_breed'][i][0]+"'>"+response['pet_breed'][i][1]+"</option>";#}
{#  			            			$("#pet_breed").html(html_content);#}
{#  			            		}#}
{#  		            		}#}
{#  		            		else{#}
{#  		            			html_content = "<option value='0'>No data found</option>";#}
{#  		            			$("#pet_breed").html(html_content);#}
{#  		            		}#}
{#  		            		$("#errormsg").text("");                                            #}
{#  		            	},#}
{#  		            	error: function(err){#}
{#  		            		alert("error");#}
{#  		            	},#}
{#  		            	dataType: "json",#}
{#  						contentType: "application/json",#}
{#  		            	headers:{"X-CSRFToken": $('input[name="csrfmiddlewaretoken"]').attr('value')},#}
{#  		            });#}
{#  			}#}
{#  			#}
{#  		});#}

			//========================================================
				//==== ajax call to find extended family
			//========================================================
				$("#fyndExtFamly").on("click",function(e){
					e.preventDefault();
					$("#errormsg").text("");
//					oi_flag= false;
					pt_flag = false;
//					pb_flag = false;

					var pet_type = $("#pet_type option:selected").val();
					if (pet_type=="-1"){
						$("#errormsg").text("** Please select correct pet type");
						pt_flag=false;
					}
					else{
						pt_flag= true;
					}
{#					var pet_breed = $("#pet_breed option:selected").val();#}
{#					if (pet_type=="0"){#}
{#						$("#errormsg").text("** Please select correct pet breed");#}
{#						pb_flag=false;#}
{#					}#}
{#					else{#}
{#						pb_flag= true;#}
{#					}#}
{#					var owner_intrs = $("#owner_intrs option:selected").val();#}
{#					if (owner_intrs=="0"){#}
{#						$("#errormsg").text("** Please select correct pet owner interests");#}
{#						oi_flag=false;#}
{#					}#}
{#					else{#}
{#						oi_flag= true;#}
{#					}#}

					//var radius = $("#radius option:selected").val();
					var radius = $("#radius").val();
					//var zipcode = $("#zipcode option:selected").val();
					var zipcode = $("#zipcode").val();
					var clat = $("#clat").val();
					var clong = $("#clong").val();
					if (zipc!=zipcode){
					    var url1= "https://maps.googleapis.com/maps/api/geocode/json?address=USA+"+zipcode+"&key="+google_search_location;
					    $.ajax({
			type:'POST',
            url: url1,
            /* contentType: "application/json; charset=utf-8", */
            dataType: "json",
            success: function(data){
            console.log(data)
                if(data.status=="OK"){
                if(data.results.length>0){
                    lat = data.results[0].geometry.location.lat;
                    lng = data.results[0].geometry.location.lng;
                    if( pt_flag==true ){
						data={
								"pet_type":pet_type,
{#								"pet_breed":pet_breed,#}
{#								"owner_intrs":owner_intrs,#}
								"radius":radius,
								"zipcode":zipcode,
								"clat":lat,
								"clong":lng,
						}
						$.ajax({
							type:'POST',
							url:'/searchresults/',
							data:data,
							error:function(e){alert('error');},
							success:function(){
								window.location.href="{% url 'searchresultsview' %}";
							},
							headers:{"X-CSRFToken": $('input[name="csrfmiddlewaretoken"]').attr('value')},
						});
					}
					else{
						$("#errormsg").text("** Please select correct pet type, breed and owner interests");
					}

                }
                }
            },
            error: function(e){

            }
		});
					    return
                    }
					if(pt_flag==true ){ //& pb_flag==true
						data={
								"pet_type":pet_type,
{#								"pet_breed":pet_breed,#}
{#								"owner_intrs":owner_intrs,#}
								"radius":radius,
								"zipcode":zipcode,
								"clat":clat,
								"clong":clong,
						}
						$.ajax({
							type:'POST',
							url:'/searchresults/',
							data:data,
							error:function(e){alert('error');},
							success:function(){
								window.location.href="{% url 'searchresultsview' %}";
							},
							headers:{"X-CSRFToken": $('input[name="csrfmiddlewaretoken"]').attr('value')},
						});
					}
					else{
						$("#errormsg").text("** Please select correct pet type, breed and owner interests");
					}

				});

			//========================================================
				//==== ajax call to submit contact form
			//========================================================
				$("#cntform").on("submit",function(e){
					var cname = $("#cname").val();
					var cemail = $("#cemail").val();
					var csubject=$("#csubject").val();
					var cmessage=$("#cmessage").val();

					data = {
							"cname":cname,
							"cemail":cemail,
							"csubject":csubject,
							"cmessage":cmessage
						}

					$.ajax({
						type:'POST',
						url:'/contactus/',
						data:data,
						dataType: "json",
  						contentType: "application/json",
						error:function(e){alert('error');},
						success:function(data){//alert(data['msg']);
							$("#cname").val("");
							$("#cemail").val("");
							$("#csubject").val("");
							$("#cmessage").val("");
							$("#msg").text("Your mesage has been sent.Thank you!");
						},
						headers:{"X-CSRFToken": $('input[name="csrfmiddlewaretoken"]').attr('value')},
					});
				});
		});
	</script>
{% endblock %}