{% extends "v2/base.html" %}
{% load static %}
{% block title %}Your Profile{% endblock %}
{% block header_includeds %}
    <link href="{% static 'v2/css/style-signin.css' %}" rel="stylesheet">
{% endblock %}
{% block main %}
 <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                <form method="POST" class="register-form" id="register-form">
                        <h2 class="form-title">Your profile</h2>
                        <div class="list-group">
                          <p class="list-group-items"><i class="fa fa-user fa-fw" aria-hidden="true"></i><span class="col-xs-offset-1">{{firstname}}</span></p>
                          <p class="list-group-items" ><i class="fa fa-user fa-fw" aria-hidden="true"></i><span class="col-xs-offset-1"> {{ lastname }}</span></p>
                          <p class="list-group-items" ><i class="fa fa-home fa-fw" aria-hidden="true"></i><span class="col-xs-offset-1"> {{address1}}</span></p>
                          <p class="list-group-items" ><i class="fa fa-home fa-fw" aria-hidden="true"></i><span class="col-xs-offset-1"> {{address2}}</span></p>
                          <p class="list-group-items" ><i class="fa fa-home fa-fw" aria-hidden="true"></i><span class="col-xs-offset-1"> {{city}}</span></p>
                          <p class="list-group-items" ><i class="fa fa-home fa-fw" aria-hidden="true"></i><span class="col-xs-offset-1"> {{state_name}}</span></p>
                          <p class="list-group-items" ><i class="fa fa-home fa-fw" aria-hidden="true"></i><span class="col-xs-offset-1"> {{country_name}}</span></p>
                          <p class="list-group-items" ><i class="fa fa-phone fa-fw" aria-hidden="true"></i><span class="col-xs-offset-1"> {{phone}}</span></p>
                          <p class="list-group-items" ><i class="fa fa-envelope fa-fw" aria-hidden="true"></i><span class="col-xs-offset-1"> {{email}}</span></p>
                          <p class="list-group-items" ><i class="fa fa-envelope fa-fw" aria-hidden="true"></i><span class="col-xs-offset-1"> {{otheremail}}</span></p>
{#                          <p class="list-group-items" ><i class="fa fa-quote-right fa-fw" aria-hidden="true"></i><span class="col-xs-offset-1"> owns a service dog</span></p>#}
                            {% if interest_list %}
                              {% for interest in interest_list %}
                          <p class="list-group-items" ><i class="fa fa-check fa-fw" aria-hidden="true"></i><span class="col-xs-offset-1"> {{interest.1}}</span></p>
                          {% endfor %}
                                {% else %}
                                <p class="list-group-items" ><i class="fa fa-check fa-fw" aria-hidden="true"></i><span class="col-xs-offset-1"> No interests found</span></p>
                        {% endif %}
                        </div>
                        <div class="form-group form-button">
                          <a href="{% url 'ownerProfileEdit' %}" input type="submit" name="signup" id="signup" class="form-submit" style="background: #e72734"> Edit </a>
                        </div>
              </div>

                    <div class="signup-image">

                        <figure><img src="{{ pic }}" alt="sing up image" class="img-rounded"></figure>
                     {% if pet_list %}
                        <h2 style="text-align:center">Pets I own</h2>

{% for pet in pet_list %}
                          <div class="card">
                           <img src="images/dog.jpg" alt="John" style="width:100%">
                               <h1>{{ pet.1 }}</h1>
                                 <p class="title">{{ pet.2 }}</p>
                                 <p class="title">{{ pet.8 }}</p>
                                 <p class="title">{{ pet.3 }}</p>
                                 <p class="title">{{ pet.4 }}</p>
                                 <p class="title">{{ pet.3 }}</p>
                                 <p> {{ pet.6 }}</p>
                           <p><a href="{% url 'petEditView' pet.0 %}" data_id="{{pet.0}}" input type="submit" class="form-submit" style="background: #e72734"> Edit </a>
                           <a data_id="{{pet.0}}" class="form-submit delete" >Delete </a>
                           </p>
                            <p><br></p>
                          </div>
                             {% endfor %}
      {% else %}
       <tr>No Records Found. Please Register your pet.</tr>
                         {% endif %}
                    </div>

                  </form>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}
{%  block extrajs%}
        <script type="text/javascript">
         (function () {
        var nav = $('.navbar');
        var scrolled = false;

        $(window).scroll(function () {

            if (110 < $(window).scrollTop() && !scrolled) {
                nav.addClass('sticky animated fadeInDown').animate({ 'margin-top': '0px' });

                scrolled = true;
            }

            if (110 > $(window).scrollTop() && scrolled) {
                nav.removeClass('sticky animated fadeInDown').css('margin-top', '0px');

                scrolled = false;
            }
        });
    }());

          $(document).ready(function() {
    $('#contact_form').bootstrapValidator({
        // To use feedback icons, ensure that you use Bootstrap v3.1.0 or later
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            first_name: {
                validators: {
                        stringLength: {
                        min: 2,
                    },
                        notEmpty: {
                        message: 'Please supply your first name'
                    }
                }
            },
             last_name: {
                validators: {
                     stringLength: {
                        min: 2,
                    },
                    notEmpty: {
                        message: 'Please supply your last name'
                    }
                }
            },
            email: {
                validators: {
                    notEmpty: {
                        message: 'Please supply your email address'
                    },
                    emailAddress: {
                        message: 'Please supply a valid email address'
                    }
                }
            },
            phone: {
                validators: {
                    notEmpty: {
                        message: 'Please supply your phone number'
                    },
                    phone: {
                        country: 'US',
                        message: 'Please supply a vaild phone number with area code'
                    }
                }
            },
            address: {
                validators: {
                     stringLength: {
                        min: 8,
                    },
                    notEmpty: {
                        message: 'Please supply your street address'
                    }
                }
            },
            city: {
                validators: {
                     stringLength: {
                        min: 4,
                    },
                    notEmpty: {
                        message: 'Please supply your city'
                    }
                }
            },
            state: {
                validators: {
                    notEmpty: {
                        message: 'Please select your state'
                    }
                }
            },
            zip: {
                validators: {
                    notEmpty: {
                        message: 'Please supply your zip code'
                    },
                    zipCode: {
                        country: 'US',
                        message: 'Please supply a vaild zip code'
                    }
                }
            },
            comment: {
                validators: {
                      stringLength: {
                        min: 10,
                        max: 200,
                        message:'Please enter at least 10 characters and no more than 200'
                    },
                    notEmpty: {
                        message: 'Please supply a description of your project'
                    }
                    }
                }
            }
        })
        .on('success.form.bv', function(e) {
            $('#success_message').slideDown({ opacity: "show" }, "slow") // Do something ...
                $('#contact_form').data('bootstrapValidator').resetForm();

            // Prevent form submission
            e.preventDefault();

            // Get the form instance
            var $form = $(e.target);

            // Get the BootstrapValidator instance
            var bv = $form.data('bootstrapValidator');

            // Use Ajax to submit form data
            $.post($form.attr('action'), $form.serialize(), function(result) {
                console.log(result);
            }, 'json');
        });
});
        </script>
    	<script>
	$(document).ready(function(e){
		//================================================================
			//======= ajax call to delete pet record
		//================================================================
		$(".delete").on("click", function(e){
			var pet_id = $(this).attr("data_id");
			data={
					"pet_id":pet_id
			}
			//sending form data
			 $.ajax({
		        	type:'POST',
		        	url: '/petDelete/',
		        	data:JSON.stringify(data),
		        	success: function(response){
			             alert("success");
			             $("#otherstate").hide();
			             window.location.href="{% url 'ownerProfile' %}";
		        	},
		        	error: function(err){
		        		alert("error");
		        		$("#otherstate").hide();
		        	},
		        	dataType: "json",
					contentType: "application/json",
		        	headers:{"X-CSRFToken": $('input[name="csrfmiddlewaretoken"]').attr('value')},
		        });
		});
		//================================================================
			//======= ajax call to edit pet record
		//================================================================

	});
	</script>
{% endblock %}