{% extends "v2/base.html" %}
{% load static %}
{% block header_includeds %}
<link href="{% static 'v2/css/style-signin.css' %}" rel="stylesheet">
{% endblock %}
{% block main %}
  <!--profile -->  
     <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Update your profile</h2>
                        <form method="POST" class="register-form" id="register-form">
                                            <div class="signup-image">

                     <div class="avatar-upload">
        <div class="avatar-edit">
            <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
            <label for="imageUpload"></label>
        </div>
        <div class="avatar-preview">
            <div id="imagePreview" style="background-image: url({{ pic}});">
            </div>
        </div>
</div>
                    </div>
                            <div class="form-group" >
                                <label for="firstname"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="firstname" id="firstname" placeholder="First Name" value="{{firstname}}"/>
                            </div>
                             <div class="form-group">
                                <label for="lastname"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="lastname" id="lastname" placeholder="Last Name" value="{{lastname}}"/>
                            </div>
                            <div class="form-group">
                                <label for="address1"><i class="zmdi zmdi-home material-icons-name"></i></label>
                                <input type="text" name="address1" id="address1" placeholder="Address 1 " value="{% if address1 %}{{address1}}{% endif %}"/>
                            </div>
                             <div class="form-group">
                                <label for="address1"><i class="zmdi zmdi-home"></i></label>
                                <input type="text" name="address2" id="address2" placeholder="Address 2 " value="{% if address2 %}{{address2}}{% endif %}"/>
                            </div>
                        <div class="form-group">
                                    <select id="country" class="btn btn-default dropdown-toggle drpbtn col-xs-12" >

          	</select>

                            </div>

                             <div class="form-group" id="state_div">
<label for="state"><i class="zmdi zmdi-home"></i></label>

          	<select id="state" class="btn btn-default dropdown-toggle drpbtn col-xs-12" >

          		<option value="other">Other State</option>
          	</select>

                            </div>
                                <div class="form-group" id="otherstate_div">
                                    <label for="otherstate"><i class="zmdi zmdi-home material-icons-name"></i></label>
                                    <input type="text" name="otherstate" id="otherstate" value=""  placeholder="State" >
                                </div>
                        <div class="form-group" id="othercity_div">
                                <label for="othercity"><i class="zmdi zmdi-home material-icons-name"></i></label>
                                <input type="text" name="city" id="othercity" placeholder="City " value=""/>
                            </div>
                        <div class="form-group" id="city_div">
                                <label for="city"><i class="zmdi zmdi-home material-icons-name"></i></label>
                                <select id="city" class="btn btn-default dropdown-toggle drpbtn col-xs-12" >

          		<option value="other">Other City</option>
          	</select>
                            </div>
                             <div class="form-group">
                                <label for="pass"><i class="zmdi zmdi-phone"></i></label>

          	<input type="text" name="phone" id="phone"  placeholder="Phone Number" value="">

                            </div>

                           <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>

          	<input type="text" name="email" id="email" placeholder="Other Email"  value="{{otheremail}}">

                            </div>
                            <div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-quote "></i></label>
                                <input type="text" name="text" id="text" placeholder="Comments" value="{{comment}}">
                            </div>


                           
                            <div class="form-group form-button" id="div_submit_button">
                                <a href="user-profile.html" input type="submit" name="update" id="update" class="form-submit" style="background: #e72734"> Update </a>
                                <a href="{% url 'petRegisterPage' %}" input type="submit" name="signup" id="signup" class="form-submit" style="background: #e72734"> Add a Pet </a>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </section>
{% endblock %}
  {%  block extrajs%}
    <style>

.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 50px auto;
}
.avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #FFFFFF;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label:after {
  content: "\f040";
  font-family: 'FontAwesome';
  color: #757575;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}
.avatar-upload .avatar-preview {
  width: 192px;
  height: 192px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #F8F8F8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


    </style>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

      <script>
      $(document).ready(function() {
          $.ajax({
              url:'/get_profile_details_ajax',
              method :'GET',
              success: function (data) {

                  console.log(data)
                  interests = data['interest']
                  for (key2 in interests) {

                      selected = ""
                      key1 = interests[key2]
                      if (key1['user_interest'] == true){
                          selected = 'checked'
                       }
                    $('<div class=" form-group">'+
          '<input type = "checkbox" name = "interestchk" id="interest' + key1['id'] + '" value = "' + key1['id'] + '" '+selected+' class="agree-term">'+
          '<label  class="label-agree-term"><span><span></span></span> ' + key1['Interest_Desc'] + '</label></div>'
                       ).insertBefore('#div_submit_button');

                }
                 intcheck();
                $(':checkbox').checkboxpicker();
                  $('#firstname').val(data['user']['first_name'])
                  $('#lastname').val(data['user']['last_name'])
                  $('#address1').val(data['user']['addr1'])
                  $('#address2').val(data['user']['addr2'])
                  $('#phone').val(data['user']['phone'])
                  $('#email').val(data['user']['otherEmail'])
                  $('#zipcode').val(data['user']['zipcode'])
                  $('#comment').val(data['user']['comment'])

                  all_countries = data['countries']
                  for (key2 in all_countries) {

                      selected = ""
                      key1 = all_countries[key2]
                      if (key1['user_country'] == true){
                          selected = 'selected'
                       }
                    $('#country').append('<option value="' + key1['code'] + '" '+selected+'>' + key1['country_name'] + '</option>');

                }
                all_states = data['states']
                  if (all_states.length > 0){
                      $('#otherstate_div').hide()
                      $('#state_div').show()
                                      for (key2 in all_states) {

                      selected = ""
                      key1 = all_states[key2]
                      if (key1['user_state'] == true){
                          selected = 'selected'
                       }
                    $('#state').append('<option value="' + key1['code'] + '" '+selected+'>' + key1['state_name'] + '</option>');

                }
                  }
                  else {
                    $('#state_div').hide()
                      $('#otherstate_div').show()
                      $('#otherstate').val(data['user']['state'])
                  }

                  all_cities = data['cities']
                  if (all_cities.length > 0){
                      $('#othercity_div').hide()
                      $('#city_div').show()
                                      for (key2 in all_cities) {

                      selected = ""
                      key1 = all_cities[key2]
                      if (key1['user_city'] == true){
                          selected = 'selected'
                       }
                    $('#city').append('<option value="' + key1['city_name'] + '" '+selected+'>' + key1['city_name'] + '</option>');

                }
                  }
                  else {
                    $('#city_div').hide()
                      $('#othercity_div').show()
                      $('#othercity').val(data['user']['city'])
                  }

              }
          })
      })

      </script>
        <script>
        var interest_chk_list=[];
        function intcheck() {

                $('input[name=interestchk]:checked').each(function(index){

				interest_chk_list.push($(this).val());
			});
			$('input[name=interestchk]').on("change",function(e){
			    console.log('skjfhkjsdlh')
				if($('input[name=interestchk]:checked').val()!=undefined){
					var interest_chk = $(this).val();
					console.log(interest_chk)
					interest_chk_list.push(interest_chk);
				}
				else{
					var interest_chk = $('input[name=interestchk]').val();
					interest_chk_list.pop(interest_chk);
				}
			});
            }

		$(document).ready(function(e){
		    {% ifequal state_flag True %}$("#state").hide();{% endifequal %}
			//================================================================
			//======= method to populate other state input
		//================================================================
			$("#state").on("change",function(e){
				var state_code = $("#state option:selected").val();
				var country_code = $("#country option:selected").val();
				data={
					"country_code":country_code,'state_code':state_code
			}
			//sending form data
		 $.ajax({
            	type:'POST',
            	url: '/getCities/',
            	data:JSON.stringify(data),
            	success: function(response){
            	    all_cities = response
                  if (all_cities.length > 0){
            	        $('#city').empty()
                      $('#othercity_div').hide()
                      $('#city_div').show()
                                      for (key2 in all_cities) {

                      selected = ""
                      key1 = all_cities[key2]
                      if (key1['user_city'] == true){
                          selected = 'selected'
                       }
                    $('#city').append('<option value="' + key1['city_name'] + '" '+selected+'>' + key1['city_name'] + '</option>');

                }
                  }
                  else {
                    $('#city_div').hide()
                      $('#othercity_div').show()
{#                      $('#othercity').val(data['user']['state'])#}
                  }

            	},
            	error: function(err){
            		alert("error");
            	},
            	dataType: "json",
				contentType: "application/json",
            	headers:{"X-CSRFToken": $('input[name="csrfmiddlewaretoken"]').attr('value')},
            });


			});
			//================================================================
			//======= ajax call to populate states according to country
		//================================================================
		$("#country").on("change",function(e){
			e.preventDefault();
			var country_code = $("#country option:selected").val();
			data={
					"country_code":country_code
			}
			//sending form data
		 $.ajax({
            	type:'POST',
            	url: '/getStates/',
            	data:JSON.stringify(data),
            	success: function(response){
            	    all_states = response
            		if (all_states.length > 0){
            	        $('#state').empty()
                      $('#otherstate_div').hide()
                      $('#state_div').show()
                                      for (key2 in all_states) {

                      selected = ""
                      key1 = all_states[key2]
                      if (key1['user_state'] == true){
                          selected = 'selected'
                       }
                    $('#state').append('<option value="' + key1['code'] + '" '+selected+'>' + key1['state_name'] + '</option>');

                }
                $('#state').trigger('change');
            	    }
                  else {
                    $('#state_div').hide()
                      $('#otherstate_div').show()
                         $('#city_div').hide()
                      $('#othercity_div').show()
{#                      $('#otherstate').val(data['user']['state'])#}
                  }


            	},
            	error: function(err){
            		alert("error");
            	},
            	dataType: "json",
				contentType: "application/json",
            	headers:{"X-CSRFToken": $('input[name="csrfmiddlewaretoken"]').attr('value')},
            });
		});




			//================================================================
			//======= ajax call to submit user registration data update
		//================================================================
			$("#update").on("click",function(e){
				e.preventDefault();
				var country_code = $("#country option:selected").val();
				var state_code = $("#state option:selected").val();
				var firstname = $("#firstname").val();
				var lastname = $("#lastname").val();
				var address1 = $("#address1").val();
				var address2 = $("#address2").val();
				if($("#city").is(":visible")){
				    var city = $("#city").val();
                }
				if($("#othercity").is(":visible")){
				    var city = $("#othercity").val();
                }

				var comment = $("#comment").val();
				var email = $("#email").val();
				var phone = $("#phone").val();
				var otherstate = $("#otherstate").val();
				if($("#ownpet:checked")){
					var own_pet = $("#ownpet:checked").val();
				}
				else{
					var own_pet = "off";
				}

				data={
						"interest_chk_list":interest_chk_list,
						"country_code":country_code,
						"state_code":state_code,
						"firstname":firstname,
						"lastname":lastname,
						"address1":address1,
						"address2":address2,
						"city":city,
						"comment":comment,
						"email":email,
						"phone":phone,
						"own_pet":own_pet,
						"otherstate":otherstate
				}
				//sending form data
			 $.ajax({
		        	type:'POST',
		        	url: '/ownerRegistrationSubmit/',
		        	data:JSON.stringify(data),
		        	success: function(response){
			             //alert("success");
			            // $("#otherstate").hide();
			             window.location.href="{% url 'ownerProfile' %}";
		        	},
		        	error: function(err){
		        		alert("error");
		        		//$("#otherstate").hide();
		        	},
		        	dataType: "json",
					contentType: "application/json",
		        	headers:{"X-CSRFToken": $('input[name="csrfmiddlewaretoken"]').attr('value')},
		        });
			});
		});
		function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e) {
            $('#imagePreview').css('background-image', 'url('+e.target.result +')');
            $('#imagePreview').hide();
            $('#imagePreview').fadeIn(650);
        }
        reader.readAsDataURL(input.files[0]);
         var form_data = new FormData();
        form_data.append('file', input.files[0]);
        form_data.append('csrfmiddlewaretoken', '{{ csrf_token }}');
        $.ajax({
            url:'/upload_profile_pic/',
            type:'POST',
            data:form_data,
             processData: false,
                contentType: false,
            success:function (data) {

            },
            error:function (err) {

            }
        })
    }
}
$("#imageUpload").change(function() {
    readURL(this);
});
	</script>
        <script type="text/javascript">
         (function () {
        var nav = $('.navbar');
        var scrolled = false;

        $(window).scroll(function () {

            if (110 < $(window).scrollTop() && !scrolled) {
                nav.addClass('sticky animated fadeInDown').animate({ 'margin-top': '0px' });

                scrolled = true;
            }

            if (110 > $(window).scrollTop() && scrolled) {
                nav.removeClass('sticky animated fadeInDown').css('margin-top', '0px');

                scrolled = false;
            }
        });
    }());

          $(document).ready(function() {
    $('#contact_form').bootstrapValidator({
        // To use feedback icons, ensure that you use Bootstrap v3.1.0 or later
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            first_name: {
                validators: {
                        stringLength: {
                        min: 2,
                    },
                        notEmpty: {
                        message: 'Please supply your first name'
                    }
                }
            },
             last_name: {
                validators: {
                     stringLength: {
                        min: 2,
                    },
                    notEmpty: {
                        message: 'Please supply your last name'
                    }
                }
            },
            email: {
                validators: {
                    notEmpty: {
                        message: 'Please supply your email address'
                    },
                    emailAddress: {
                        message: 'Please supply a valid email address'
                    }
                }
            },
            phone: {
                validators: {
                    notEmpty: {
                        message: 'Please supply your phone number'
                    },
                    phone: {
                        country: 'US',
                        message: 'Please supply a vaild phone number with area code'
                    }
                }
            },
            address: {
                validators: {
                     stringLength: {
                        min: 8,
                    },
                    notEmpty: {
                        message: 'Please supply your street address'
                    }
                }
            },
            city: {
                validators: {
                     stringLength: {
                        min: 4,
                    },
                    notEmpty: {
                        message: 'Please supply your city'
                    }
                }
            },
            state: {
                validators: {
                    notEmpty: {
                        message: 'Please select your state'
                    }
                }
            },
            zip: {
                validators: {
                    notEmpty: {
                        message: 'Please supply your zip code'
                    },
                    zipCode: {
                        country: 'US',
                        message: 'Please supply a vaild zip code'
                    }
                }
            },
            comment: {
                validators: {
                      stringLength: {
                        min: 10,
                        max: 200,
                        message:'Please enter at least 10 characters and no more than 200'
                    },
                    notEmpty: {
                        message: 'Please supply a description of your project'
                    }
                    }
                }
            }
        })
        .on('success.form.bv', function(e) {
            $('#success_message').slideDown({ opacity: "show" }, "slow") // Do something ...
                $('#contact_form').data('bootstrapValidator').resetForm();

            // Prevent form submission
            e.preventDefault();

            // Get the form instance
            var $form = $(e.target);

            // Get the BootstrapValidator instance
            var bv = $form.data('bootstrapValidator');

            // Use Ajax to submit form data
            $.post($form.attr('action'), $form.serialize(), function(result) {
                console.log(result);
            }, 'json');
        });
});


        </script>

        <script>
        	$(document).ready(function() {

    
    var readURL = function(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('.profile-pic').attr('src', e.target.result);
            }
    
            reader.readAsDataURL(input.files[0]);
        }
    }
    

    $(".file-upload").on('change', function(){
        readURL(this);
    });
    
    $(".upload-button").on('click', function() {
       $(".file-upload").click();
    });
});
        </script>

        <script>
        	$(':checkbox').checkboxpicker();
        </script>


{% endblock %}