{% extends "v2/base.html" %}
{% load static %}
{% block title %} Edit a Pet{% endblock %}
{% block header_includeds %}
<link href="{% static 'v2/css/style-signin.css' %}" rel="stylesheet">
{% endblock %}
{% block main %}
  <!--profile -->  
     <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Add your pet details</h2>
                        <form action="#" class="register-form" id="pet_register">
                        {% csrf_token %}
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="petname" id="petname" value="{{pet_name}}" placeholder="Pet Name"/>
                            </div>
                             <div class="form-group">
                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                 <select id="gender" name="gender" class="btn btn-default dropdown-toggle drpbtn col-xs-12">
          	{% if gender %}
          	{% ifequal gender "M" %}
          		<option value="M" selected>Male</option>
          		<option value="F" >Female</option>
          	{% else %}
          		<option value="M">Male</option>
          		<option value="F" selected>Female</option>
          	{% endifequal %}
          	{% else %}
          		<option value="M" selected>Male</option>
          		<option value="F" >Female</option>
          	{% endif %}
          </select>
                            </div>
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="weight" id="weight" value="{{weight}}"  placeholder="Weight "/>
                            </div>
                             <div class="form-group">
                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                <select id="pettype" name="pettype"  class="btn btn-default dropdown-toggle drpbtn col-xs-12">
          	{% if pet_type %}
          	{% for type in pet_type %}
          		{% if pet_type_sel %}
          		{% ifequal type.1 pet_type_sel %}
          			<option value="{{type.1}}" selected>{{type.1}}</option>
          		{% else %}
          			<option value="{{type.1}}">{{type.1}}</option>
          		{% endifequal %}
          		{% else %}
          			<option value="{{type.1}}" {% if forloop.counter == 1 %}selected{% endif %}>{{type.1}}</option>
          		{% endif %}
          	{% endfor %}
          	{% else %}
          		<option>No pet type found</option>
          	{% endif %}
          	</select>
                            </div>
                                <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <select id="breed" name="breed" class="btn btn-default dropdown-toggle drpbtn col-xs-12">
          	{% if pet_breed %}
          	{% for breed in pet_breed %}
          		{% if pet_breed_sel %}
          		{% ifequal breed.1 pet_breed_sel %}
          			<option value="{{breed.1}}" selected>{{breed.1}}</option>
          		{% else %}
          			<option value="{{breed.1}}" >{{breed.1}}</option>
          		{% endifequal %}
          		{% else %}
          			<option value="{{breed.1}}" >{{breed.1}}</option>
          		{% endif %}
          	{% endfor %}
          	{% else %}
          		<option>No breed found</option>
          	{% endif %}
          	</select>
                            </div>
                             <div class="form-group">
                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="text" name="age" id="age" value="{{age}}" placeholder="Pet Age "/>
                            </div>
                           
                            <div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                <input type="text" name="instruction" id="instruction" value="{{special_inst}}"  placeholder="Special Instructions"/>
                            </div>
                         
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="petsubmit" class="form-submit" style="background: #e72734" value="Add a Pet"/>
                                <input type="submit" name="signup" id="reset" class="form-submit" style="background: #e72734" value="Reset"/>
                            </div>
                        {% if pet_id %}
		 <input type="hidden" name="pet_id" id="pet_id" value="{{pet_id}}" />
		 {% else %}
		 <input type="hidden" name="pet_id" id="pet_id" />
		 {% endif %}
                        </form>
                    </div>
                    <div class="signup-image">

                     <div class="avatar-upload">
        <div class="avatar-edit">
            <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
            <label for="imageUpload"></label>
        </div>
        <div class="avatar-preview">
            <div id="imagePreview" style="background-image: url({{ pic}});">
            </div>
        </div>
</div>
                    </div>
                </div>
            </div>
                        
                    </div>
                </div>
            </div>
        </section>

        {% endblock %}
{% block extrajs %}
    <style>

.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 50px auto;
}
.avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #FFFFFF;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label:after {
  content: "\f040";
  font-family: 'FontAwesome';
  color: #757575;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}
.avatar-upload .avatar-preview {
  width: 192px;
  height: 192px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #F8F8F8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


    </style>
        <script type="text/javascript">
         (function () {
        var nav = $('.navbar');
        var scrolled = false;

        $(window).scroll(function () {

            if (110 < $(window).scrollTop() && !scrolled) {
                nav.addClass('sticky animated fadeInDown').animate({ 'margin-top': '0px' });

                scrolled = true;
            }

            if (110 > $(window).scrollTop() && scrolled) {
                nav.removeClass('sticky animated fadeInDown').css('margin-top', '0px');

                scrolled = false;
            }
        });
    }());

          $(document).ready(function() {
    $('#contact_form').bootstrapValidator({
        // To use feedback icons, ensure that you use Bootstrap v3.1.0 or later
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            first_name: {
                validators: {
                        stringLength: {
                        min: 2,
                    },
                        notEmpty: {
                        message: 'Please supply your first name'
                    }
                }
            },
             last_name: {
                validators: {
                     stringLength: {
                        min: 2,
                    },
                    notEmpty: {
                        message: 'Please supply your last name'
                    }
                }
            },
            email: {
                validators: {
                    notEmpty: {
                        message: 'Please supply your email address'
                    },
                    emailAddress: {
                        message: 'Please supply a valid email address'
                    }
                }
            },
            phone: {
                validators: {
                    notEmpty: {
                        message: 'Please supply your phone number'
                    },
                    phone: {
                        country: 'US',
                        message: 'Please supply a vaild phone number with area code'
                    }
                }
            },
            address: {
                validators: {
                     stringLength: {
                        min: 8,
                    },
                    notEmpty: {
                        message: 'Please supply your street address'
                    }
                }
            },
            city: {
                validators: {
                     stringLength: {
                        min: 4,
                    },
                    notEmpty: {
                        message: 'Please supply your city'
                    }
                }
            },
            state: {
                validators: {
                    notEmpty: {
                        message: 'Please select your state'
                    }
                }
            },
            zip: {
                validators: {
                    notEmpty: {
                        message: 'Please supply your zip code'
                    },
                    zipCode: {
                        country: 'US',
                        message: 'Please supply a vaild zip code'
                    }
                }
            },
            comment: {
                validators: {
                      stringLength: {
                        min: 10,
                        max: 200,
                        message:'Please enter at least 10 characters and no more than 200'
                    },
                    notEmpty: {
                        message: 'Please supply a description of your project'
                    }
                    }
                }
            }
        })
        .on('success.form.bv', function(e) {
            $('#success_message').slideDown({ opacity: "show" }, "slow") // Do something ...
                $('#contact_form').data('bootstrapValidator').resetForm();

            // Prevent form submission
            e.preventDefault();

            // Get the form instance
            var $form = $(e.target);

            // Get the BootstrapValidator instance
            var bv = $form.data('bootstrapValidator');

            // Use Ajax to submit form data
            $.post($form.attr('action'), $form.serialize(), function(result) {
                console.log(result);
            }, 'json');
        });
});


        </script>

          <script>
          $(document).ready(function() {

    
    		function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e) {
            $('#imagePreview').css('background-image', 'url('+e.target.result +')');
            $('#imagePreview').hide();
            $('#imagePreview').fadeIn(650);
        }
        reader.readAsDataURL(input.files[0]);
         var form_data = new FormData();
        form_data.append('file', input.files[0]);
        form_data.append('csrfmiddlewaretoken', '{{ csrf_token }}');
        $.ajax({
            url:'/upload_profile_pic_pet/',
            type:'POST',
            data:form_data,
             processData: false,
                contentType: false,
            success:function (data) {

            },
            error:function (err) {

            }
        })
    }
}
$("#imageUpload").change(function() {
    readURL(this);
});
    		 var readURL = function(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('.profile-pic').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }


    $(".file-upload").on('change', function(){
        readURL(this);
    });

    $(".upload-button").on('click', function() {
       $(".file-upload").click();
    });
});
    

          $(document).ready(function(e){
  		{% if update %}
  		$("#petsubmit").attr("value","Update pet");

  		{% endif %}

  		//================================================================
  			//======= ajax call to populate breed according to pet type
  		//================================================================
  		$("#pettype").on("change",function(e){
  			e.preventDefault();
  			var pettype = $("#pettype option:selected").val();
  			data={
  					"pettype":pettype
  			}
  			//sending form data
			 $.ajax({
	            	type:'POST',
	            	url: '/pet-breed/',
	            	data:JSON.stringify(data),
	            	success: function(response){
	            		//population of pet breed
	            		var breed_len = response['pet_breed'].length;
	            		var html_content = "";
	            		$("#breed").html("");
	            		if(breed_len>0){
	            			for(var i=0; i<breed_len; i++){
		            			html_content += "<option value='"+response['pet_breed'][i][1]+"'>"+response['pet_breed'][i][1]+"</option>";
		            			$("#breed").html(html_content);
		            		}
	            		}
	            		else{
	            			html_content = "<option value='0'>No data found</option>";
	            			$("#breed").html(html_content);
	            		}

	            	},
	            	error: function(err){
	            		alert("error");
	            	},
	            	dataType: "json",
					contentType: "application/json",
	            	headers:{"X-CSRFToken": $('input[name="csrfmiddlewaretoken"]').attr('value')},
	            });
  		});

  		//=========================================================
  			//===== pet registration ajax call to submit data
  		//=========================================================
  		$("#pet_register").on("submit",function(e){
  			e.preventDefault();
			var formData = new FormData(this);
			//sending form data
			 $.ajax({
	            	type:'POST',
	            	url: '/pet-register/',
	            	data:formData,
	            	processData: false,
             	    contentType: false,
	            	success: function(response){
	            		//window.location.href = "{% url 'index' %}";
	            		$("#msgdiv").text("Your pet has registered successfully.") ;
	            		window.location.href = "{% url 'ownerProfile' %}";
	            	},
	            	error: function(err){
	            		alert("error");
	            	},
	            	headers:{"X-CSRFToken": $('input[name="csrfmiddlewaretoken"]').attr('value')},
	            });
  		});

  		//=================================================
  			//======== add pet and reset all field value
  		//=================================================
  		$("#reset").on("click",function(e){
  		    e.preventDefault();
  			$("#petname").val("");
  			$("#age").val("");
  			$("#gender").val("");
  			$("#file").val("");
  			$("#weight").val("");
  			$("#instruction").val("");
  			$("#msgdiv").text("");
  			$('#pettype').val("");
  			$('#breed').val("");
  		});


  	});
        </script>
{% endblock %}