{% extends "v2/base.html" %}
{% load static %}
{% block header_includeds %}
<link href="{% static 'v2/css/style-signin.css' %}" rel="stylesheet">
{% endblock %}
{% block main %}
<div class="container">
  <div class="row">
    <div class="col-xs-12 well">
            
               <div class="col-md-6"> 
                <textarea class="txtar" id="new_message" name="new_message"  value='' placeholder="Type in your message" rows="12"></textarea>
                <div><button class="butn-info"  id="SendMessage" type="submit">Post New Message</button></div>
               </div>
               
                <div class="col-md-6 mapouter gmap_canvas searchmap">
                  <div style="width: 100%"><div ><div id="map"></div></div></div>
                  
                 
                </div>
    </div>
    
  </div>
</div>

   {% endblock %}
  {%  block extrajs%}
        <style>
#map{
    max-width: 100%;
    width: 100%;
    max-height: 400px;
    height: 400px;
}
</style>
        <script type="text/javascript">
         (function () {
        var nav = $('.navbar');
        var scrolled = false;

        $(window).scroll(function () {

            if (110 < $(window).scrollTop() && !scrolled) {
                nav.addClass('sticky animated fadeInDown').animate({ 'margin-top': '0px' });

                scrolled = true;
            }

            if (110 > $(window).scrollTop() && scrolled) {
                nav.removeClass('sticky animated fadeInDown').css('margin-top', '0px');

                scrolled = false;
            }
        });
    }());
        </script>
       <script>
    $(document).ready(
        function () {
            $('#SendMessage').click(function (e) {
                e.stopPropagation()
                $.ajax({
                    url:'/createmultimsgthread/',
                    type:'POST',
                    data:{uid:uid,content:$('#new_message').val(),csrfmiddlewaretoken: "{{csrf_token}}"},
                    success:function (e) {
                        window.location.href='/allmsgs/';
                    },
                    error:function (e) {
                        //alert('login first');
                        $('#myModal').modal('show');
                    }
                })

            })
        }
    )
    var markers=[];
    var uid="{{ uid }}";
	function initMap() {


		// The location of Uluru
		var uluru = {lat: 60, lng: 0};
		// The map, centered at Uluru
 		map= new google.maps.Map(
		document.getElementById('map'), {zoom: 4, center: uluru});
 		  //var marker = new google.maps.Marker({position: uluru, map: map});

		// The marker, positioned at Uluru
		//var marker = new google.maps.Marker({position: uluru, map: map});
		/* var bounds = new google.maps.LatLngBounds(new google.maps.LatLng(clat, clong));

		window.map.fitBounds(bounds);
		window.map.setZoom(8); */
        {% for p in petu %}
		loc=new google.maps.LatLng({{ p.lat }}, {{ p.long }});
marker{{ forloop.counter }}=new google.maps.Marker({
    map: window.map,

    position: loc,
    draggable: true,
});
markers.push(marker{{ forloop.counter }})
        {% endfor %}
    var bounds = new google.maps.LatLngBounds();
for (var i = 0; i < markers.length; i++) {
 bounds.extend(markers[i].getPosition());
}

map.fitBounds(bounds);
	}
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBau_NI3sjDxfERlzIo7Pfn_pvmF46V4iY&callback=initMap">
    </script>
      <div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">

        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">


<div class="form sign-in" style="position:inherit;width:inherit;">
    <h2>Welcome back,</h2>
    <label>
      <span>Email</span>
      <input type="email" id="email">
    </label>
    <label>
      <span>Password</span>
      <input type="password" id="password" >
    </label>

    <!-- error paragraph -->
    <p class="forgot-pass" id="login-err" style="display:none;">
    	<span style="color: red;font-size: 13px;">**Please enter correct email/password</span><br>
    	<span style="color: #000;">OR Click   </span><a href="/forgotpassword/"> Forgot password?</a>
    </p>

    <p class="forgot-pass" id="orig"><a href="/forgotpassword/">Forgot password?</a></p>

    <button type="button" class="submit" id="signin">Sign In</button>
    <button type="button" class="fb-btn" id="fblogin">Connect with <span>facebook</span></button>

  </div>

          </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
{% endblock %}


