{% extends "v2/base.html" %}
{% load static %}
{% block header_includeds %}
{#<link href="{% static 'v2/css/style-signin.css' %}" rel="stylesheet">#}
{% endblock %}
{% block main %}

<div class="clearfix"></div>
<section class="search-box">
    <div class="container-fluid">
  <div class="row">
    <div class="col-md-5 listing-block" id="datadiv">
        <div class="media">
            <div class="fav-box form-group">
              <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
              <label for="agree-term" class="label-agree-term"><span></span></label>
              </div>
              <div><img class="d-flex align-self-start" src="images/srch-img.jpg" alt="Generic placeholder image"></div>
              <div class="media-body pl-3">
                <div class="price">John Doe<small>New York</small></div>
                
                <div class="address">4062 Walnut Hill Drive
            Cincinnati</div>
              </div>
            </div>
         <div class="media">
            <div class="fav-box form-group">
              <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
              <label for="agree-term" class="label-agree-term"><span></span></label>
              </div>
              <div><img class="d-flex align-self-start" src="images/srch-img.jpg" alt="Generic placeholder image"></div>
              <div class="media-body pl-3">
                <div class="price">John Doe<small>New York</small></div>
                
                <div class="address">4062 Walnut Hill Drive
            Cincinnati</div>
              </div>
            </div>
        <div class="media">
            <div class="fav-box">
              <input type="checkbox" name="send-msg" id="send-msg" class="agree-term" />
              <label for="agree-term" class="label-agree-term"><span></span></label>
              </div>
              <div><img class="d-flex align-self-start" src="images/srch-img.jpg" alt="Generic placeholder image"></div>
              <div class="media-body pl-3">
                <div class="price">John Doe<small>New York</small></div>
                
                <div class="address">4062 Walnut Hill Drive
            Cincinnati</div>
              </div>
            </div>
         <div class="media">
            <div class="fav-box">
              <input type="checkbox" name="send-msg" id="send-msg" class="agree-term" />
              <label for="agree-term" class="label-agree-term"><span></span></label>
              </div>
              <div><img class="d-flex align-self-start" src="images/srch-img.jpg" alt="Generic placeholder image"></div>
              <div class="media-body pl-3">
                <div class="price">John Doe<small>New York</small></div>
                
                <div class="address">4062 Walnut Hill Drive
            Cincinnati</div>
              </div>
            </div>
        <div class="media">
            <div class="fav-box">
              <input type="checkbox" name="send-msg" id="send-msg" class="agree-term" />
              <label for="agree-term" class="label-agree-term"><span></span></label>
              </div>
              <div><img class="d-flex align-self-start" src="images/srch-img.jpg" alt="Generic placeholder image"></div>
              <div class="media-body pl-3">
                <div class="price">John Doe<small>New York</small></div>
                
                <div class="address">4062 Walnut Hill Drive
            Cincinnati</div>
              </div>
            </div>

        <div class="media">
            <div class="fav-box">
              <input type="checkbox" name="send-msg" id="send-msg" class="agree-term" />
              <label for="agree-term" class="label-agree-term"><span></span></label>
              </div>
              <div><img class="d-flex align-self-start" src="images/srch-img.jpg" alt="Generic placeholder image"></div>
              <div class="media-body pl-3">
                <div class="price">John Doe<small>New York</small></div>
                
                <div class="address">4062 Walnut Hill Drive
            Cincinnati</div>
              </div>
            </div>
    </div>
    <div class="col-md-7  ">
        <div class='searchmap' >
<div id="map"></div>
</div>
    </div>
{#      <div class="col-md-12  mx-0 px-0">#}
{#          <input type="button" name="sendMessage" id="sendMessage" value="Send Message" style="background-color: #fb8f01;border: 0px;border-radius: 3px;color: #fff;padding: 3px 15px;" >#}
{#      </div>#}
  </div>

</div>


</section>

{% endblock %}
  {%  block extrajs%}
    


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <style>
      /* Set the size of the div element that contains the map */
      #map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
    </style>

        <script type="text/javascript">
        function  card_template_gen(name1,pets,distance1,id1){
        return    `
         <div class="media">
            <div class="fav-box form-group">
              <input type="checkbox" name="selectuser" class="agree-term" />

              </div>
              <div><img class="d-flex align-self-start" src="/static/v2/images/srch-img.jpg" alt="Generic placeholder image"></div>
              <div class="media-body pl-3">
                <div class="price" style="cursor:pointer;" onclick="sendmessage('`+id1+`')">`+name1+`<small>&nbsp;has `+pets+`</small></div>
                   <input type="hidden" value="`+id1+`" name="u_id" />
                <div class="address">is `+distance1+` away
             </div>
              </div>
            </div>`;
        }


            (function () {
                var nav = $('.navbar');
                var scrolled = false;

                $(window).scroll(function () {

                    if (110 < $(window).scrollTop() && !scrolled) {
                        nav.addClass('sticky animated fadeInDown').animate({ 'margin-top': '0px' });

                        scrolled = true;
                    }

                    if (110 > $(window).scrollTop() && scrolled) {
                        nav.removeClass('sticky animated fadeInDown').css('margin-top', '0px');

                        scrolled = false;
                    }
                });
            }());


        </script>
      <script type="text/javascript">
	//================ variable initialization
    function  sendmessage(id){
		    var data ={
					"u_ids":JSON.stringify([id]),
			}
		    $.ajax({
				type:'POST',
				url:'/set_multi_email/',
				data:data,
				error:function(e){alert('error');},
				success:function(data){//alert('success');
					//$("#msg").text(data['message']);
					window.location.href='/searchMsg/'+data.key+'/';
				},
				headers:{"X-CSRFToken": $('input[name="csrfmiddlewaretoken"]').attr('value')},
			});
            }
	var page_no=1;
	var data_list=null;
	var data_len=null;
	var clat=null;
	var clong=null;
	window.locations=[];
	window.markers = [];
	var map;
	var temp_marker=[];

	{% if clat %}
	clat = {{clat}};
	{% endif %}

	{% if clong %}
	clong = {{clong}};
	{% endif %}

	//===========Google Map

	// Initialize and add the map
	function initMap() {
		// The location of Uluru
		var uluru = {lat: clat, lng: clong};
		// The map, centered at Uluru
 		map= new google.maps.Map(
		document.getElementById('map'), {zoom: 4, center: uluru});
 		  var marker = new google.maps.Marker({position: uluru, map: map});

		// The marker, positioned at Uluru
		//var marker = new google.maps.Marker({position: uluru, map: map});
		/* var bounds = new google.maps.LatLngBounds(new google.maps.LatLng(clat, clong));

		window.map.fitBounds(bounds);
		window.map.setZoom(8); */
	}
/* loc=new google.maps.LatLng(22, 88);
marker1=new google.maps.Marker({
    map: window.map,

    position: loc,
    draggable: true,
});
marker1.setMap(null); */

var email_ids = [];

	$(document).ready(function(e){

		var html_content = "";
		$.ajax({
			type:'POST',
			url:'/searchresultsview/',
			data:{},
			error:function(e){alert('error');},
			success:function(data){
				  html_content= "";
				clat = data['clat'];
				clong = data['clong'];
				 data_len = data['data_len'];
				 data_list = data['neighbour_list'];
{#				 [{'distance':,'lat':,'lon':#}
{#                       'pets':[{'pettype': 'Dog', 'total': 2}]#}
{#                  =#}
{#                  'name':,id#}
				if(data_len<10){
					for(var i=0; i<data_len; i++){
						var cur_data=data_list[i];
						pets = "";

						for (var j=cur_data.pets.length-1;j>-1;j--){
						    plural =""
						    if (cur_data.pets[j].total>1){
						        plural='s'
                            }
                            if((j>0)||(cur_data.pets.length=1)) {
                                pets = cur_data.pets[j].total + " " + cur_data.pets[j].pettype + plural + " "
                            }
                            else {
						        pets = "and"+ cur_data.pets[j].total + " " + cur_data.pets[j].pettype + plural + " "
                            }
                        }

						 html_content = html_content +
                             card_template_gen( cur_data.name,pets,cur_data.distance,cur_data.id.toString());


{#                             "<div><div style='position:relative;float: left;'>"#}
{#                        +"<span><input type='checkbox' name='selectuser'></span></div><div style='margin-left:20px;'>"#}
{#                             +cur_data.name.toString()+", "+cur_data.distance+" miles away has "+pets+#}
{#                             "<input type='hidden' value='"+cur_data.id+"' name='u_id' /></div></div>";#}
						 locations.push([cur_data.lat, cur_data.lon]);
					}
					$("#datadiv").html(html_content);

					locations.forEach(function(location,index){
                        loc=new google.maps.LatLng(location[0], location[1]);
                        // Create a marker for each place.
                        window.markers.push(new google.maps.Marker({
                            map: window.map,
                            position: loc,
                            draggable: true,
                        }));

					});
                    var bounds = new google.maps.LatLngBounds();
                        for (var i = 0; i < window.markers.length; i++) {
                         bounds.extend(window.markers[i].getPosition());
                        }
                        console.log(window.markers);
                        window.map.setCenter(bounds.getCenter());
                        window.map.fitBounds(bounds);
                        window.map.setZoom(window.map.getZoom()-1);
				}
				else if(data_len>10){

						for(var i=(page_no-1)*10; i<page_no*10; i++){
 							  var cur_data=data_list[i];
						pets = "";

						for (var j=cur_data.pets.length-1;j>-1;j--){
						    plural =""
						    if (cur_data.pets[j].total>1){
						        plural='s'
                            }
                            if((j>0)||(cur_data.pets.length=1)) {
                                pets = cur_data.pets[j].total + " " + cur_data.pets[j].pettype + plural + " "
                            }
                            else {
						        pets = "and"+ cur_data.pets[j].total + " " + cur_data.pets[j].pettype + plural + " "
                            }
                        }
                         html_content = html_content +
                             card_template_gen( cur_data.name,pets,cur_data.distance,cur_data.id.toString());

{#						html_content = html_content +#}
{#                             "<div><div style='position:relative;float: left;'>"#}
{#                        +"<span><input type='checkbox' name='selectuser'></span></div><div style='margin-left:20px;'>"#}
{#                             +cur_data.name.toString()+", "+cur_data.distance+" miles away has "+pets+#}
{#                             "<input type='hidden' value='"+cur_data.id+"' name='u_id' /></div></div>";#}
						 locations.push([cur_data.lat, cur_data.lon]);
						}
						$("#datadiv").html(html_content);

						locations.forEach(function(location,index){
	                        loc=new google.maps.LatLng(location[0], location[1]);
	                        // Create a marker for each place.
	                        window.markers.push(new google.maps.Marker({
	                            map: window.map,
	                            position: loc,
	                            draggable: true,
	                        }));

						});
						var bounds = new google.maps.LatLngBounds();
                        for (var i = 0; i < window.markers.length; i++) {
                         bounds.extend(window.markers[i].getPosition());
                        }
                        console.log(window.markers);
                        window.map.setCenter(bounds.getCenter());
                        window.map.fitBounds(bounds);
                        window.map.setZoom(window.map.getZoom()-1);

				}
				else{
					$("#datadiv").html("<div>We don't have any petjibe user near your location. Sorry .</div>");
				}

				$("#msg").text(data['message']);

				unbind();
                bind();
			},
			headers:{"X-CSRFToken": $('input[name="csrfmiddlewaretoken"]').attr('value')},
		});




		function unbind() {
            $('input[name=selectuser]').unbind('click');
            $('#sendMessage').unbind('click');
            $('page-link').unbind('click');
        }
		function bind(){
		$('input[name=selectuser]').on("click",function(e){
		                     checkedState = $(this).prop('checked');
                  $('input[name=selectuser]').each(function () {
                      $(this).prop('checked', false);
                  });
                  $(this).prop('checked', checkedState);
			var selected_user = $(this).val();
			var selected_user_email = $(this).parent().parent().parent().find('input[name="u_id"]').val();
			if($(this).prop('checked') == true){
				email_ids = [selected_user_email];
			}
			else{
				//email_ids.pop(selected_user_email);
			}
		});
		$("#sendMessage").on("click",function(e){
			var data ={
					"u_ids":JSON.stringify(email_ids),
			}
			$.ajax({
				type:'POST',
				url:'/set_multi_email/',
				data:data,
				error:function(e){alert('error');},
				success:function(data){//alert('success');
					//$("#msg").text(data['message']);
					window.location.href='/searchMsg/'+data.key+'/';
				},
				headers:{"X-CSRFToken": $('input[name="csrfmiddlewaretoken"]').attr('value')},
			});

		});


		$('.page-link').on("click",function(e){

		    current=$(e.target);
		    var html_content
		    if(current.text()=="Next"){
		        page_no+=1;

		         if(data_len>page_no*10){
		        	 locations=[];
					for(let i=(page_no-1)*10; i<(page_no*10); i++){

						let cur_data=data_list[i];
						html_content = html_content +
                             "<div><div style='position:relative;float: left;'>"
                        +"<span><input type='checkbox' name='selectuser'></span></div><div style='margin-left:20px;'>"
                             +cur_data.name.toString()+", "+cur_data.distance+" miles away has "+pets+
                             "<input type='hidden' value='"+cur_data.id+"' name='u_id' /></div></div>";
						locations.push([cur_data[4], cur_data[5]]);
					}
					$("#datadiv").html(html_content);


                    {#window.markers.forEach(function(marker) {#}
                    {#    marker.setMap(null);#}
                    {# });#}
                    {##}
                    {##}
					{#locations.forEach(function(location,index){						  						#}
                     {#   loc=new google.maps.LatLng(location[0], location[1]);#}
                     {#   // Create a marker for each place.#}
                     {#   window.markers.push(new google.maps.Marker({#}
                     {#       map: window.map,#}
                     {#       position: loc,#}
                     {#       draggable: true,#}
                     {#   }));#}
                    {##}
					{# }); #}
					{##}

				}
		         else{
		        	 locations=[];
		        	 var ln = data_len-(page_no-1)*10;
		        	 var max_len = (page_no-1)*10+ln;
		        	 for(var i=(page_no-1)*10; i<max_len; i++){

							var cur_data=data_list[i];
							html_content = html_content +
                             "<div><div style='position:relative;float: left;'>"
                        +"<span><input type='checkbox' name='selectuser'></span></div><div style='margin-left:20px;'>"
                             +cur_data.name.toString()+", "+cur_data.distance+" miles away has "+pets+
                             "<input type='hidden' value='"+cur_data.id+"' name='u_id' /></div></div>";
							locations.push([cur_data[4], cur_data[5]]);
						}
						$("#datadiv").html(html_content);


						{#window.markers.forEach(function(marker) {#}
	                     {#   marker.setMap(null);#}
                        {# });#}
						{##}
						{#locations.forEach(function(location,index){														#}
	                     {#   loc=new google.maps.LatLng(location[0], location[1]);#}
	                     {#   // Create a marker for each place.#}
	                     {#   window.markers.push(new google.maps.Marker({#}
	                     {#       map: window.map,#}
	                     {#       position: loc,#}
	                     {#       draggable: true,#}
	                     {#   }));#}
                        {##}
						{# });#}
		         }
            }
            if(current.text()=="Previous"){
		        if(page_no>1){
		            page_no-=1;
		            locations=[];
		            for(var i=(page_no-1)*10; i<page_no*10; i++){

						var cur_data=data_list[i];
						html_content = html_content +
                             "<div><div style='position:relative;float: left;'>"
                        +"<span><input type='checkbox' name='selectuser'></span></div><div style='margin-left:20px;'>"
                             +cur_data.name.toString()+", "+cur_data.distance+" miles away has "+pets+
                             "<input type='hidden' value='"+cur_data.id+"' name='u_id' /></div></div>";
						locations.push([cur_data[4], cur_data[5]]);
					}
		            $("#datadiv").html(html_content);

                    {#window.markers.forEach(function(marker) {#}
                     {#   marker.setMap(null);#}
                    {#  });#}
                    {##}
                    {#locations.forEach(function(location,index){						  						#}
                     {#   loc=new google.maps.LatLng(location[0], location[1]);#}
                     {#   // Create a marker for each place.#}
                     {#   window.markers.push(new google.maps.Marker({#}
                     {#       map: window.map,#}
                     {#       position: loc,#}
                     {#       draggable: true,#}
                     {#   }));#}
                    {##}
					{# });#}
                }
                else {
		            return
                }
            }
            $("#page_no").text(page_no);
			{#$("#datadiv").html(""); #}
		});
    }
	});
 </script>
          <style>
    input[type="checkbox"]{
        width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}
 input[type="checkbox"]:checked{
      background-color: gray;
 }
    </style>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBau_NI3sjDxfERlzIo7Pfn_pvmF46V4iY&callback=initMap">
    </script>


{% endblock %}