{% extends "v2/base.html" %}
{% load static %}
{% block header_includeds %}
<link href="{% static 'v2/css/style-signin.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'v2/css/material-design-iconic-font.min.css' %}">

        <link href="{% static 'v2/css/style-signin.css' %}" rel="stylesheet">

{% endblock %}
{% block main %}
<div class="main body-sign">

        <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                         <a href="/signup/" class="signup-image-link">Create an account</a>
                        <figure><img src="{% static 'v2/images/signup-image.jpg' %}" alt="sing up image"></figure>
                       
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">Sign In</h2>
                        <form method="POST" class="register-form" id="login-form">
                            <div class="form-group">
                                <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="email" id="email" placeholder="Your Name"/>
                            </div>
                            <div class="form-group">
                                <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="password" id="password" placeholder="Password"/>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                                <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
                            </div>
                            <div class="form-group form-button">
                               <a href="#" class="btn btn-danger btn-block signouttext" id="signin">Sign In</a>
                            </div>
                        </form>
                        <div class="social-login">
                            
 <button class="loginBtn loginBtn--facebook" id="fblogin" style="width: 100%;">  Login with Facebook</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

</div>

        {% endblock %}
{% block extrajs %}
        <script type="text/javascript">
         (function () {
        var nav = $('.navbar');
        var scrolled = false;
        $('#signin').click(function(e){
		e.preventDefault();
		var email = $('#email').val();
		var password = $('#password').val();

			$.ajax({
				type:'POST',
				url:'/login/',
				data:{
					'username':email,
					'password':password,
					'csrfmiddlewaretoken': '{{ csrf_token }}',
				},
				error:function(e){
					//alert(e);
					$("#orig").hide();
					$("#login-err").show();

				},
				success:function(data,xhr){
				    if(data.msg=="error"){
				        $("#login-err").show();
				        $("#login-err").html('<span style="color: red;font-size: 13px;">'+data.message+'</span>');
				        return
                    }
					$("#login-err").hide();
					$("#orig").show();
					window.location.href = "{% url 'index' %}";

				},
			});



	});
        var appid='2081478572074706';
	var loggedUser="";
	$(".fb-btn").click(function(event) {
	$.getScript('//connect.facebook.net/en_US/sdk.js', function () {
        window.fbAsyncInit = function () {

            $.ajaxSetup({cache: true});
            FB.init({
                appId: appid, cookie: true,
                status: true, xfbml: true,
                version: 'v2.8'
            });
            FB.getLoginStatus(function (response) {
                console.log(response)
                if (response.status == 'connected') {
                    isLoaded = 'fbLogged';
                    loggedUser = response.authResponse.userID;
                    fb_access_token = response.authResponse.accessToken;


                    fb_login(loggedUser,fb_access_token)

                } else {
                    isLoaded = 'fbNotLogged';
                    FB.login(function (response) {
                        if (response.status == 'connected') {
                            loggedUser = response.authResponse.userID;
                    fb_access_token = response.authResponse.accessToken;
                    fb_login(loggedUser,fb_access_token)

                        }
                    }//,{scope: 'user_events,pages_show_list'})
                    ,{scope: 'email'})
                }
            });
        };
    });
	});
	function fb_login(user_id,access_token){
	    url = "https://graph.facebook.com/v3.2/"+user_id+"?fields=id,name,email&access_token="+access_token;
	    $.ajax({url:url,type:'GET',success:function(response){
                        $.ajax({
                    	url:'/fb_token/',
                        data:{csrfmiddlewaretoken:'{{csrf_token}}',email:response.email,
                            name:response.name,access_token:access_token},
                        type:'POST',
                        success:function (response) {
							window.location.href="{% url 'index' %}";
                        },
                        error:function (xhr, type, exception) {

                        }
                    });
                    },error:function(err){console.log(error)}});
    }

        $(window).scroll(function () {

            if (110 < $(window).scrollTop() && !scrolled) {
                nav.addClass('sticky animated fadeInDown').animate({ 'margin-top': '0px' });

                scrolled = true;
            }

            if (110 > $(window).scrollTop() && scrolled) {
                nav.removeClass('sticky animated fadeInDown').css('margin-top', '0px');

                scrolled = false;
            }
        });
    }());
        </script>

{% endblock %}