{% extends "v2/base.html" %}
{% load static %}
{% block header_includeds %}
<link href="{% static 'v2/css/style-signin.css' %}" rel="stylesheet">
{% endblock %}
{% block main %}

<div class="main body-sign">

        <!-- Sing in  Form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Sign Up</h2>
                        <form method="POST" class="register-form" id="register-form">
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="name" id="name" placeholder="Your Name"/>
                            </div>
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                <input type="email" name="email" id="email" placeholder="Your Email"/>
                            </div>
                            <div class="form-group">
                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="pass" id="pass" placeholder="Password"/>
                            </div>
                            <div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                <input type="password" name="re_pass" id="re_pass" placeholder="Repeat your password"/>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                                <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                            </div>
                            <div class="form-group form-button">
                                <a id="register" href="#" class="btn btn-danger btn-block signouttext">Sign Up</a>
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <a href="/signin/" class="signup-image-link">I am already member</a>
                        <figure><img src="{% static 'v2/images/signup-image.jpg' %}" alt="sing up image"></figure>
                        
                    </div>
                </div>
            </div>
        </section>


</div>

        {% endblock %}
{% block extrajs %}

        <script type="text/javascript">
         (function () {
        var nav = $('.navbar');
        var scrolled = false;

	$('#register').click(function(e){
		e.preventDefault();
		var username = $('#name').val();
		var password = $('#pass').val();
		var email = $('#email').val();
		var repass = $('#re_pass').val();
		if (repass!=password){
		    alert("password don't match");
		    return
        }
        if($('#agree-term').prop("checked") == false){

                alert("Please agree to terms ");
                return

            }


		if((email.indexOf("@") != -1) && (email.indexOf(".") != -1) && (password.length>3) && (username.length>0)){
			$.ajax({
				type:'POST',
				url:'/registration/',
				data:{
					'fullname':username,
					'username':email,
					'email':email,
					'password':password,
					'csrfmiddlewaretoken': '{{ csrf_token }}',
				},
				error:function(e){
					$("#reg-err").show();
				},
				success:function(data){
					var response = data["success"];
					if(response == "False"){
						$("#reg-err").show();
					}
					else{
						$("#reg-err").hide();
						$(location).attr('href',"/");
					}

				},
			});
		}
		else{
			$("#reg-err").show();
		}
	});

        $(window).scroll(function () {

            if (110 < $(window).scrollTop() && !scrolled) {
                nav.addClass('sticky animated fadeInDown').animate({ 'margin-top': '0px' });

                scrolled = true;
            }

            if (110 > $(window).scrollTop() && scrolled) {
                nav.removeClass('sticky animated fadeInDown').css('margin-top', '0px');

                scrolled = false;
            }
        });
    }());
        </script>



{% endblock %}