{% extends "admin/change_list.html" %}
{% load i18n admin_urls admin_static admin_list %}

{% block object-tools %}
    {% if has_add_permission %}
        <script>
        var count = 0;
        var list_count = [];
        Array.prototype.remove = function() {
    var what, a = arguments, L = a.length, ax;
    while (L && this.length) {
        what = a[--L];
        while ((ax = this.indexOf(what)) !== -1) {
            this.splice(ax, 1);
        }
    }
    return this;
};

        django.jQuery(document).ready(function () {
            //console.log("hi");
        function add_book(){
            django.jQuery.ajax({
                type:'GET',
                url:'/get_content_types/',
                success:function (data) {

                    html_str = [count].map(temp_books).join('');
                    django.jQuery('#workbook_colums').append(html_str);
                    for(var i = 0;i<data.length;i++){
                        var o = new Option(data[i].content_cat,data[i].id)
                        django.jQuery('#select_'+count.toString()).append(o)
                    }
                    list_count.push(count.toString());
                    count++;
                },
                error:function (err) {

                }
            });

        }
        django.jQuery('#add_workbook').on('click',add_book);
        django.jQuery('#upload').on('click',upload_book)

        })
        function upload_book(){
            var book_data=[]
            var passed = false
            list_count.forEach(ind=>{
                if(django.jQuery('#input_'+ind).val().length<1){
                    passed = true
                }
               book_data.push({name:django.jQuery('#input_'+ind).val(),id:django.jQuery('#select_'+ind).val()})
            });
            if(passed){
                alert("value missing ")
                    return;
            }
            defile = django.jQuery("#upload_excel")[0]
            var formData = new FormData();
            for(var i = 0; i < defile.files.length; i++){
                if(i==0) {
                    formData.append('file', defile.files[i]);
                }
            }
            formData.append('books',JSON.stringify(book_data))
            django.jQuery.ajax({
                url : '/admin_upload_content_details/',
                processData: false,
                contentType: false,
                type : 'POST',
                headers:{"X-CSRFToken": django.jQuery('input[name="csrfmiddlewaretoken"]').attr('value')},

                data : formData,
                success:function (data) {
                    django.jQuery('#upload_results').html(data.output);
                },
                error:function (err) {
                    
                }
            })
            console.log(book_data)
        }
        function delete_book(id) {
            django.jQuery('#div_'+id.toString()).remove()
            list_count.remove(id.toString());
        }
        const temp_books =(conta)=>`

<div style="float: left"  id="div_${conta}">
                        <label >Enter work book name or number(starts with zero)</label>
                        <input type="text" id="input_${conta}">
                        <select id="select_${conta}"></select>
                        <button class="button" onclick="delete_book(${conta})">Delete<button>
                    </div>`
        </script>
        <div>
         <input class="button" id="upload_excel" type="file" value="upload">
                    <div id="workbook_colums" style="overflow: auto" >


                    </div>
                    <button class="button" id="add_workbook">add workbook</button>
        <br>
        <button class="button" id="upload">Upload</button>
        <div id="upload_results" style="overflow: auto"></div>
                <ul class="object-tools">
                {% block object-tools-items %}

                    <li>
              {% url cl.opts|admin_urlname:'add' as add_url %}
              <a href="{% add_preserved_filters add_url is_popup to_field %}" class="addlink">
                {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
              </a>
            </li>
                {% endblock %}
            </ul>
        </div>
     {% endif %}
{% endblock %}