<table>
    <thead>
    {% if updated %}
        {% for head  in updated.0 %}
            <th>{{ head }}</th>
        {% endfor %}
    {% endif %}
    </thead>
    <tbody>
    {% if updated %}
        {% for row  in updated %}
            <tr>
            {% for k,v in row.items %}
                <td>{{ v }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>
</table>