{% extends "base_other.html" %}
{% load staticfiles %}

	
<!-- main block part starts here -->	
{% block main %}

<section>
<div class="container layout col-lg-10">
      <form method="post" style="text-align: center;">
      {% csrf_token %}
        <h2>Change Your Password</h2>
        <h6>After submitting password, please login with new password.</h6>
        <label>Enter Current Password <input type="password" style="margin: 5px;" name="oldpw"></label><br>
         <label>Enter New Password &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="password" style="margin: 5px;" name="newpw"></label><br>
          <label>Confirm New Password <input type="password"style="margin: 5px;" name="conf_newpw"></label><br><br>

        <div><input type="submit" value="Submit" style="background-color: #fb8f01;border: 0px;border-radius: 3px;color: #fff;padding: 3px 15px;"></div>
      </form>
      </div>
  
    </section>        

{% endblock %}    