/*
Template: 69 Studio
Author: TrendyTheme
Version: 1.0
Designed and Development by: TrendyTheme
*/


/*
====================================
[ CSS TABLE CONTENT ]
------------------------------------
    1.0 - General
    2.0 - Typography
    3.0 - Global Style
    4.0 - Navigation
    5.0 - Search Box
    6.0 - Slider Section
        6.1 - Caption style
        6.2 - Next and previous button
        6.3 - Text animation delay
    7.0 - Creative Section
    8.0 - Recent Project Section
        8.1 - Overlay and hover effect
        8.2 - Carousel navigation
    9.0 - Feature Section
    10.0 - CTA one section
    11.0 - About Section
        11.1 - Progress Bar
        11.2 - Accordion
    12.0 - Counter Section
    13.0 - Team Section
    14.0 - Video Section
        14.1 - Play/Pause Button 
    15.0 - Call to action section
    16.0 - Service Section
    17.0 - Responsive preview section
    18.0 - Process Section
    19.0 - Portfolio Section
        19.1 - Portfolio overlay
    20.0 - Testimonial Section
    21.0 - Partner Section
    22.0 - Case study section
    23.0 - Contact Section
    24.0 - Footer Section
    25.0 - Preloader
    26.0 - Single project page
-------------------------------------
[ END CSS TABLE CONTENT ]
=====================================
*/



/* =-=-=-=-=-=-= General =-=-=-=-=-=-= */

body{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    color: #000000;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased !important;
}


html,
body {
    width: 100%;
    height: 100%;
}


/* Link style
/* ------------------------------ */
a {
    color: #ffffff;
}
a,
a > * {
    outline: none;
    cursor: pointer;
    text-decoration: none;
}
a:focus,
a:hover {
    outline: none;
    text-decoration: none;
}


/* Transition elements
/* ------------------------------ */
.navbar a,
.form-control {
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

a,
.btn {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

/* Reset box-shadow
/* ------------------------------ */

.btn,
.form-control,
.form-control:hover,
.form-control:focus,
.navbar-custom .dropdown-menu {
    -webkit-box-shadow: none;
    box-shadow: none;
}


button:focus {
    outline: none !important;
}


/* =-=-=-=-=-=-= Typography =-=-=-=-=-=-= */

h1, h2, h3, h4, h5, h6{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 400;
    margin: 0;
}

h1 {
    font-size: 35px;
    line-height: 50px;
}

h2 {
    font-size: 25px;
    color: #202020;
}

h3 {
    font-size: 20px;
    line-height: 25px
}

h4 {
    font-size: 18px;
    line-height: 20px}

h5 {

}

h6 {

}


p {
    margin: 0 0 10px 0; 
}
p img { 
    margin: 0; 
}

ul {
    margin:0;
    padding:0;
    list-style: none;
}

/* Button
/* ------------------------------ */
.btn {
    padding: 10px 20px;
}

.btn-group-lg>.btn, 
.btn-lg {
    padding: 17px 35px;
}

.btn-primary {
    background-color: #34495e;
    border-color: #34495e;
}


/* Form Style
/* ------------------------------ */
.form-group {
    margin-bottom: 30px;
}
.form-control {
    height: 20px;
    padding: 20px;
    font-size: 18px;
    line-height: 25px;
    font-weight: 300;
    color: #202020;
    border-radius: 0;
}

.form-control:focus {
    border-color: #ff2a40;
}


/* =-=-=-=-=-=-= Global Style =-=-=-=-=-=-= */

.section-padding {
    padding: 100px 0;
}

.section-title {
    font-size: 35px;
    line-height: 30px;
    color: #ff2a40;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.sub-title {
    margin: 0;
    line-height: 25px;
}

.row-content{
    margin-top: 80px;
}
.margin-top-50 {
    margin-top: 50px;
}

.no-padding {
    padding: 0;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}
.list-group-items {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    font-size: 16px;

}

/* =-=-=-=-=-=-= Navigation =-=-=-=-=-=-= */

@media(min-width:767px) {

    .navbar-default .navbar-nav>li>a {
        padding: 40px 20px;
        -webkit-transition: padding .5s ease-in-out;
        -moz-transition: padding .5s ease-in-out;
        -ms-transition: padding .5s ease-in-out;
        -o-transition: padding .5s ease-in-out;
        transition: padding .5s ease-in-out;
    }    
    .navbar-default.sticky .navbar-nav>li>a {
        padding: 20px;
    } 

    .navbar-default .navbar-brand {
        line-height: 40px;
        padding: 40px 15px;
    }

    .navbar-default.sticky .navbar-brand {
        line-height: 20px;
        padding: 15px 15px;
    }

	.navbar.sticky>li>a .login-icon {
        top:15px;
    }
	.navbar.sticky>li>a .user-icon {
        top:15px;
    }
	.navbar.sticky>li>a .logout-icon {
        top:15px;
    }
}

.navbar-nav{
    margin:0 -15px;
}

.navbar {
    margin: 0;
    background-color: #fff;
    border: 0;
    border-radius: 0;
    box-shadow: 0 0 1px 0px #BBBBBB;
}

.navbar.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 998;
}


.navbar-default .navbar-nav>li>a {
    color: #000;
    background-color: transparent;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}


.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:hover>span,
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #ff2a40;
}

.navbar-toggle {
    padding: 7px;
    margin-top: 12px;
    border-radius: 3px;
}

.navbar-toggle .icon-bar{
    width:15px;
}

.navbar-toggle .icon-bar+.icon-bar{
    margin-top: 2px;
}

.navbar-default .navbar-toggle{
    border-color: #ff2a40;
}

.navbar-default .navbar-toggle:focus, 
.navbar-default .navbar-toggle:hover{
    background-color: #ff2a40;
}

.navbar-default .navbar-toggle .icon-bar{
    background-color: #ff2a40;
}

.navbar-default .navbar-toggle:focus .icon-bar,
.navbar-default .navbar-toggle:hover .icon-bar{
    background-color: #ffffff;
}


/* =-=-=-=-=-=-= Search Box =-=-=-=-=-=-= */

.search-icon {
    position: relative;
    top:35px;
    left:20px;
}
.search-icon:hover{
    cursor: pointer;
}

.sticky .search-icon {
    top:15px;
}

.search-icon:after {
    content: "\f002";
    position: absolute;
    top:0;
    right:0;
    font-family: fontawesome;
}

.search-icon.active:after {
    content: "\f00d";
    position: absolute;
    top:0;
    right:0;
    font-family: fontawesome;
    color:#ff2a40;
}

#search-box {
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    color: #555;
    font-family: sans-serif;
    padding: 0 15px;
    outline: none;
    font-size: 20pt;
    text-align: center;
    background-color: #ccc;
    position: absolute;
    right: 0;
    display: none;
    width: 100%;
    top: 100px;
    z-index: 1;
    line-height: 70px;
    height: 70px;
    color: #fff;
}

.sticky #search-box{
    top:60px;
}

/* =-=-=-=-=-=-= login Icon =-=-=-=-=-=-= */
@media(min-width:767px) {
.login-icon {
    position: relative;
    
}

.user-icon {
    position: relative;
    
}

.logout-icon {
    position: relative;
   
}

body { padding-top: 100px; }

}

.login-icon:after {
    content: "\f090";
    position: absolute;
    top:0;
    right:0;
    font-family: fontawesome;
}

.user-icon:after {
    content: "\f007";
    position: absolute;
    top:0;
    right:0;
    font-family: fontawesome;
}

.logout-icon:after {
    content: "\f08b";
    position: absolute;
    top:0;
    right:0;
    font-family: fontawesome;
}
#success_message{ display: none;}


@media(max-width:767px) {



	body { padding-top: 50px; }
}

.butn-info {
    color: #fff;
    width: 100%;
    background-color: #ff2a40;
    border-radius: 5px;
    border: none;
}
.marmap{
    padding: 20px;
}
.txtar{
    width: 100%;

}
/* =-=-=-=-=-=-= Slider Section =-=-=-=-=-=-= */
video, 
object {
    min-width:100%;
    min-height:100%;
}


.slider-section {
    top: 0%;
    left: 0%;
    max-height: 700px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.slider-section::before{
    content: "";
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


.carousel-caption {
    position: absolute;
    top: 50%;
    margin-top: -165px;
    left: 0;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    z-index: 15;
    color: #fff;
    bottom: inherit;
}
.carousel-caption h1{
    color:#FFFFFF;
    font-size: 75px;
    line-height: 80px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: -5px;
    margin-bottom: 40px;
    font-family: 'Open Sans', sans-serif;
}
.carousel-caption h1 span{
    font-weight: 900;
}
.carousel-caption p{
    color:#FFFFFF;
    font-size: 20px;
    text-transform: none;
    margin-bottom: 70px;
	padding:0px 200px;
}
.carousel-caption .btn {
  
  line-height: 20px;
  font-weight: 300;
  border-radius: 5px;
  
}
.carousel-caption .btn:hover {
    background: #fff;
    border-color: transparent;
    color: #ff2a40;
}

.well {
    min-height: 20px;
    padding: 40px 20px 40px 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}


/* =-=-=-=-=-=-= Creative Section =-=-=-=-=-=-= */

.creative-section {
    padding: 0 0 100px;
}

.service-tab{
    position: relative;
}

.service-tab .nav-tabs{
    border-bottom: 0;
}

.service-tab li {
    position: relative;
    text-align: center;
    border-right: 1px solid #b9b9b9;
    padding:0;
}

.service-tab li > a{
    padding:40px;
    background-color: #f5f5f5;
    color:#000000;
    border:0;
    width: 100%;
}

.service-tab .nav-tabs>li.active>a, 
.service-tab .nav-tabs>li.active>a:focus, 
.service-tab .nav-tabs>li.active>a:hover{
    border:0;
    background-color: #ffffff;
}

.nav-tabs.nav-justified>li>a{
    border:0;
    border-radius: 0;
}

.nav-tabs.nav-justified>.active>a, 
.nav-tabs.nav-justified>.active>a:focus, 
.nav-tabs.nav-justified>.active>a:hover{
    border:0;
}

.service-tab li:first-child {
    border-left: 1px solid #b9b9b9;
}

.service-tab li i:before{
    font-size: 30px;
    color:#202020;
}

.service-tab li.active i:before,
.service-tab li:hover i:before{
    color:#ff2a40;
}

.service-tab li span{
    display:block;
    font-size: 18px;
    color:#202020;
}

.service-tab li.active:after,
.service-tab li:hover:after {
    content:"";
    border-bottom:10px solid #ff2a40;
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
}

.service-tab .tab-content{
    margin-top:50px;
}

.creative-section h2 {
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 45px;
    position: relative;
}
.creative-section h2::after {
    content: "";
    background-color: #ff2a40;
    width: 100px;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: -16px;
}
.creative-section .btn {
    margin-top: 42px;
}

.mac-screenshot {
    padding-top: 60px;
}
.mac-screenshot img{
    width: inherit;
}



/* =-=-=-=-=-=-= Recent Project Section =-=-=-=-=-=-= */

.recent-project-section {
    background-color: #fafafa;
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
}

.project-container {
    margin-top: 50px;
    position: relative;
}

.recent-project {
    position: relative;
    overflow: hidden;
}
.recent-project img {
    width: 100%;
}
.project-info {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -32px;
  color: #fff;
  width: 100%;
  text-align: center;
}
.project-info h3 {
    font-size: 18px;
    line-height: 18px;
}
ul.project-meta {
    margin-top: 15px;
}
ul.project-meta li{
    display: inline-block;
    padding: 0 10px;
    border-right: 1px solid #fff;
}
ul.project-meta li:last-child{
    margin-right: 0;
    padding-right: 0;
    border-right: 0;
}
ul.project-meta li a{
    display: block;
    color: #fff;
}
ul.project-meta li a:hover{
    color: #ff2a40;
}

.full-project {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 16px 30px;
    line-height: 18px;
    text-transform: capitalize;
    background: #ff2a40;
}
.full-project:hover {
    background: #C02232;
}
.full-project a {
    color: #fff;
}
.full-project a i{
    float: right;
    line-height: 20px;
}

/* Overlay and hover effect
/* ------------------------------ */
.recent-project::before {
    content: "";
    background-color: rgba(44, 62, 80, 0.9);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.recent-project:hover::before {
    opacity: 1;
}

.project-info h3,
ul.project-meta,
.full-project {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -o-transform: translateY(100px);
    transform: translateY(100px);
}
.project-info h3,
ul.project-meta{
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.full-project {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.recent-project:hover .project-info h3,
.recent-project:hover ul.project-meta,
.recent-project:hover .full-project {
     opacity: 1;
     visibility: visible;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

/* Carousel navigation
/* ------------------------------ */

.project-navigation .btn-prev{
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -40px;
    width: 20px;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    line-height: 80px;
    text-align: center;
    font-size: 18px;
    opacity:0;
    z-index: 997;
}

.project-navigation .btn-next{
    position: absolute;
    right:0;
    top:50%;
    margin-top:-40px;
    width:20px;
    height:80px;
    background-color: rgba(0, 0, 0, 0.5);
    color:#ffffff;
    line-height: 80px;
    text-align: center;
    font-size: 18px;
    opacity:0;
    z-index: 997;
}

.project-navigation a:hover{
    width:30px;
}

.project-container:hover .project-navigation .btn-prev,
.project-container:hover .project-navigation .btn-next{
    opacity: 1;
}


/* =-=-=-=-=-=-= Feature Section =-=-=-=-=-=-= */

@media (min-width : 992px) {
    .feature-section {
    background: url(../../assets/images/feature-bg.png) no-repeat scroll 100% 80px;
    position: relative;
}
}

.feature-section .media{
    margin-top: 40px;
}
.feature-section .media:first-child {
    margin-top: 0;
}
.feature-section .media a i::before {
    display: block;
    font-size: 28px;
    line-height: 50px;
    text-align: center;
    width: 50px;
    height: 50px;
    color: #ff2a40;
    border: 1px solid #ff2a40;
    border-radius: 4px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.feature-section .media a i:hover::before {
    background-color: #ff2a40;
    color: #fff;
    border: 1px solid transparent;
}
.feature-section .media-left, 
.feature-section .media>.pull-left {
    padding-right: 30px;
    float: left;
}

.feature-section .media-heading {
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
}
.feature-section .media-heading a{
    color: #202020;
}

.feature-section .media-heading a:hover{
    color: #ff2a40;
}

.feature-section .media-body p{
    color: #a7a7a7;
    line-height: 25px;
}



/* =-=-=-=-=-=-= CTA one section =-=-=-=-=-=-= */

.cta-one-section {
    background-color: #fafafa;
}
@media(min-width:768px) {

    .cta-one-section {
        background-image: url(../../assets/images/cta-one-bg.jpg);
        -webkit-background-size: cover;
        background-size: cover;
    }
	
}
.cta-one-section h2{
    font-size: 30px;
    color: #202020;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.cta-one-section h2 span {
    color: #ff2a40;
}
.cta-one-section .btn {
    margin-top: 30px;
}



/* =-=-=-=-=-=-= About Section =-=-=-=-=-=-= */

.about-section.section-padding {
  padding: 100px 0 0;
}

.about-section .row-content h2 {
    font-weight: 700;
}
.about-info h2 {
    margin-bottom: 36px;
}

.creative-skills h2,
.faq-section h2 {
    margin-bottom: 30px;
}

.video-wrap iframe{
  border: 0;
  width: 100%;
  height: 310px;
}


/* Progress Bar
/* ------------------------------ */
.skill-title {
    font-size: 16px;
    display: block;
    margin-bottom: 8px;
}

.progress {
    padding: 6px 8px;
    border-radius: 10px;
    box-shadow: none;
    margin-bottom: 14px;
}
.progress-bar {
    background-color: #ff2a40;
    box-shadow: none;
    border-radius: 10px;
}

.progress .progress-bar.six-sec-ease-in-out {
  -webkit-transition: width 2s ease-in-out;
  -moz-transition: width 2s ease-in-out;
  -o-transition: width 2s ease-in-out;
  transition:  width 2s ease-in-out;
}



/* Accordion
/* ------------------------------ */
.panel {
    box-shadow: none;
    border:0;
    border-radius: 0;
}
.panel-default>.panel-heading {
    
}
.panel-default>.panel-heading h3{
    font-family: 'Open Sans', sans-serif;
}

.panel .panel-heading-link {
    position: relative;
    padding: 0;
}

.panel-title a.collapsed{
    display: block;
    color: #fff;
    background-color: #666666;
    border-color: #666666;
    padding: 17px 15px;
    border-radius: 4px;
}
.panel-title a{
    display: block;
    color: #fff;
    border-color: #666666;
    padding: 17px 15px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #FF2A40;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border: 1px solid #EEEEEE;
}

.panel .panel-heading-link a:after {
    font-family: 'FontAwesome';
    content: "\f107";
    font-size: 24px;
    width: 50px;
    height: 60px;
    line-height: 58px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
}
.panel .panel-heading-link a.collapsed:after {
    content: "\f105";
}

.mocup-bg {}
.mocup-bg img {
    margin: 60px auto 0;
    display: block;
}


/* =-=-=-=-=-=-= Counter Section =-=-=-=-=-=-= */

.counter-section {
    background: url(../images/counter-bg.jpg) center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    font-family: 'Roboto Slab', serif;
}
.css-overlay {
  background-color: rgba(26, 1, 1, 0.6);
}

.counter-section strong {
    display: block;
    font-size: 60px;
    line-height: 48px;
    color: #fff;
}
span.count-description {
    display: block;
    color: #fff;
    font-size: 20px;
    line-height: 40px;
    text-transform: capitalize;
    padding-top: 10px;
}

.counter-wrap{
    padding:100px 0;
}

.counter-section .selected{
   background-color: rgba(255, 0, 0, 0.5);
}


/* =-=-=-=-=-=-= Team Section =-=-=-=-=-=-= */

.team-thumb {
    position: relative;
    overflow: hidden;
}
.team-thumb img {
    width: 100%;
}
.team-thumb::before {
  content: "";
  background-color: rgba(44, 62, 80, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.team-thumb:hover::before {
    opacity: 1;
}

.member-info {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #ff2a40;
  color: #fff;
  padding: 16px 0;
}

.member-info {
    opacity: 0;
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -o-transform: translateY(100px);
    transform: translateY(100px);
    -webkit-transition: all 0.2s ease-out .2s;
    -moz-transition: all 0.2s ease-out .2s;
    -o-transition: all 0.2s ease-out .2s;
    transition: all 0.2s ease-out .2s;
}
.team-thumb:hover .member-info{
     opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.member-info h3 {
    font-size: 22px;
    line-height: 25px;
    font-weight: 700;
    text-transform: uppercase;
}
.member-info .title{
    display: block;
    font-size: 18px;
    line-height: 25px;
    font-weight: 300;
}
.member-info .social-link {
    margin-top: 25px;
}
.member-info .social-link li a {
    display: block;
    width: 35px;
    height: 35px;
    font-size: 18px;
    line-height: 35px;
    background: #fff;
    color: #ff2a40;
    text-align: center;
    border-radius: 50%;
}
.member-info .social-link li a:hover {
    background: #D51428;
    color: #fff;
}


/* =-=-=-=-=-=-= Video Section =-=-=-=-=-=-= */

.video-section {
    top: 0%;
    left: 0%;
    height: 400px;
    width: 100%;
    overflow: hidden;
    position: relative;
}


/* Play/Pause Button 
/* ------------------------------ */
.video-button {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
}
.video-button a i{
    display: inline-block;
    font-size: 44px;
    line-height: 87px;
    text-align: center;
    font-style: normal;
    color: #fff;
    background: none;
    border: 5px solid #fff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.video-button .pause i{
    opacity:0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.video-button .play i:before{
    left: 1px;
    position: relative;
    top: 1px;
}
.video-section:hover .video-button .pause i{
    opacity:1;
}
.video-button a i:before {
    content: "\f04b";
    z-index: 10;
    font-family: FontAwesome;
}
.video-button a.pause i:before {
    content: "\f04c";
}


/* =-=-=-=-=-=-= Call to action section =-=-=-=-=-=-= */

.cta-two-section {
    padding: 74px 0;
    background-color: #ff2a40;
    color: #fff;
}

.cta-two-section h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    line-height: 27px;
    font-weight: 900;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 5px;
}
.cta-two-section p {
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    margin: 0;
}
.cta-two-section .btn {
    background-color: transparent;
    border-color: #fff;
    font-size: 16px;
}
.cta-two-section .btn:hover {
    background-color: #fff;
    border-color: #fff;
    color: #ff2a40;
}



/* =-=-=-=-=-=-= Service Section =-=-=-=-=-=-= */

.services-section {}
.sbox-gutter {
    border-right: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
}
.sbox-gutter:nth-child(3),
.sbox-gutter:nth-child(6) {
    border-right: 0;
}
.sbox-gutter:nth-child(4),
.sbox-gutter:nth-child(5),
.sbox-gutter:nth-child(6) {
    border-bottom: 0;
}
.sbox-gutter:hover {
    background-color: #ff2a40;
}

.sbox-gutter,
.sbox-gutter i::before,
.sbox-gutter h3,
.sbox-gutter p {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.sbox-gutter:hover i::before,
.sbox-gutter:hover h3,
.sbox-gutter:hover p {
    color: #fff;
}

.service-box {
    padding: 30px 15px;
}
.service-box i::before { 
    font-size: 40px;
    margin-bottom: 20px;
    color: #ff2a40;
}
.service-box h3 { 
    color: #ff2a40;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.service-box p { 
    line-height: 22px;
}


/* =-=-=-=-=-=-= Responsive preview section =-=-=-=-=-=-= */

.responsive-preview {}
.responsive-preview h2{
    font-size: 30px;
    line-height: 45px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 38px;
}
.responsive-preview h2 span{
    display: block;
    font-size: 45px;
    color: #ff2a40;
}

.responsive-preview p{
    font-size: 16px;
    line-height: 35px;
    margin-bottom: 35px;
}

.responsive-preview img {
    width: initial;
}


/* =-=-=-=-=-=-= Process Section =-=-=-=-=-=-= */

.process-section {
  background: url(../images/process-bg.jpg) no-repeat #dedede;
  -webkit-background-size: cover;
  background-size: cover;
}
.process-box {
    background-color: #ff2a40;
    color: #fff;
    padding: 30px;
    border-radius: 10px;
}
.process-box i::before {
    font-size: 30px;
}
.process-box h3{
    font-size: 16px;
    line-height: 45px;
    color: #fff;
    margin: 0;
}


/* =-=-=-=-=-=-= Portfolio Section =-=-=-=-=-=-= */

.portfolio-container {
    padding-top: 55px;
}

.portfolio-container ul#filter {
    margin-bottom: 50px;
}
.portfolio-container ul#filter li{
    display: inline-block;
    font-size: 16px;
    line-height: 25px;
    padding: 7px 20px;
    border-radius: 20px;
    cursor: pointer;
}
.portfolio-container ul#filter li.active{
    background-color: #ff2a40;
    color: #fff;
}

.portfolio-container ul#grid {
    overflow: hidden;
}
.portfolio-container ul#grid li img{

}
.portfolio-container ul#grid li{
    float: left;
    display: block;
    width: 20%;
    height: auto;
}
.portfolio-item {
    min-height: 200px;
}

.portfolio {
    position: relative;
    overflow: hidden;
}

/* Portfolio overlay
/* ------------------------------ */

.portfolio::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(255, 42, 64, 0.9);
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.portfolio:hover::before {
    opacity: 1;
}

.portfolio-info {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -50px;
    color: #fff;
    width: 100%;
}

.project-title,
.links {
    opacity: 0;
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -o-transform: translateY(100px);
    transform: translateY(100px);
}
.portfolio:hover .project-title,
.portfolio:hover .links {
     opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
.project-title {
    -webkit-transition: all 0.4s ease-out .2s;
    -moz-transition: all 0.4s ease-out .2s;
    -o-transition: all 0.4s ease-out .2s;
    transition: all 0.4s ease-out .2s;
    margin-bottom: 25px;
}
.links {
    -webkit-transition: all 0.3s ease-out 0.4s;
    -moz-transition: all 0.3s ease-out 0.4s;
    -o-transition: all 0.3s ease-out 0.4s;
    transition: all 0.3s ease-out 0.4s;
}

.portfolio-info .btn {
    background-color: transparent;;
    border-color: #fff;
    padding: 12px 22px;
    border-radius: 20px;
}

.portfolio-info .btn:hover {
    background-color: #fff;;
    border-color: #fff;
    color: #ff2a40;
}


.portfolio-container .btn.view-more {
    margin-top: 40px;
}


/* =-=-=-=-=-=-= Testimonial Section =-=-=-=-=-=-= */

.testimonial-section {
    background-color: #fafafa;
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
}

#quote-carousel {
    padding: 0 10px 30px 10px;
    /* Control buttons  */
    /* Previous button  */
    /* Next button  */
    /* Changes the position of the indicators */
    /* Changes the color of the indicators */
}

#quote-carousel .carousel-control {
  background: none;
  top:auto;
  bottom: 40px;
  z-index: 100;
  text-shadow: none;
}

#quote-carousel .carousel-control i{
    color: rgba(0, 0, 0, 0.7);
    font-size: 12px;
    border: 1px solid rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
}

#quote-carousel .carousel-control:hover i,
#quote-carousel .carousel-control:focus i {
    color: #ff2a40;
    border-color: #ff2a40;
}
#quote-carousel .carousel-control.left {
    left: 30%;
}
#quote-carousel .carousel-control.right {
    right: 30%;
}
#quote-carousel .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}

#quote-carousel .carousel-indicators li {
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
    opacity: 0.4;
    overflow: hidden;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
#quote-carousel .carousel-indicators .active {
    background: #333333;
    width: 85px;
    height: 85px;
    opacity: 1;
    overflow: hidden;
}

#quote-carousel .carousel-inner {
    min-height: 300px;
}
#quote-carousel .item blockquote {
    border-left: none;
    margin: 0;
}

.testimonial-content {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 30px;
    font-size: 16px;
    font-weight: 300;
    border-radius: 6px;
}
.testimonial-content .author{
    font-weight: 700;
}

.testimonial-content .author a:hover{
    color:#ffffff;
}


/* =-=-=-=-=-=-= Partner Section =-=-=-=-=-=-= */

.bwWrapper {
    position:relative;
    display:block;
}


/* =-=-=-=-=-=-= Case study section =-=-=-=-=-=-= */

.case-study-section {
    color: #fff;
}
.case-study-left {
    background-color: #ff2a40;
    padding: 60px 40px 60px 110px;
}
.case-study-right {
    background-color: #2c3e50;
    padding: 60px 110px 60px 40px;
}
.case-study-section h1 {
    font-weight: 700;
    margin-bottom: 15px;
}
.case-study-section p {
    font-size: 18px;
    margin-bottom: 30px;
}
.case-study-section .btn {
    font-weight: 300;
    text-transform: uppercase;
    background-color: transparent;
    border-color: #fff;
}
.case-study-section .btn:hover {
    background-color: #fff;
    border-color: #fff;
}
.case-study-left .btn:hover {
    color: #ff2a40;   
}
.case-study-right .btn:hover {
    color: #2c3e50;
}


/* =-=-=-=-=-=-= Map Section =-=-=-=-=-=-= */

#myMap {
    height: 250px;
}
#mapcontent p{
    margin: 0;
    font-size: 16px;
}

/* =-=-=-=-=-=-= Contact Section =-=-=-=-=-=-= */

.contact-section {
    padding: 100px 0 150px;
}
.contact-section .btn{
    font-weight: 600;
    min-width: 350px;
    border-radius: 30px;
    background-color: #ff2a40;
    border-color: #ff2a40;
}
.contact-section .btn:hover{
    background-color: #C02232;
    border-color: #C02232;
}


/* =-=-=-=-=-=-= Footer Section =-=-=-=-=-=-= */

.footer-section {
    padding: 135px 0;
    background-color: #f33535;
    color: #fff;
    position: relative;
}

.backToTop i{
    font-size: 70px;
    line-height: 85px;
    background: #ff2a40;
    color: #fff;
    width: 100px;
    height: 100px;
    position: absolute;
    top: -50px;
    left: 50%;
    margin-left: -50px;
    border: 5px solid #fff;
    border-radius: 50%;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.backToTop i:hover{
    background: #C02232;
}

.footer-section p{
    font-size: 16px;
    line-height: 30px;
    color: #b5b5b5;
}

.footer-logo p{
    margin-bottom: 26px;
}

.footer-logo p span{
    color: #ff2a40;
    font-weight: 600;
}

.footer-logo img{
    width: initial;
    margin-bottom: 30px;
}
.copyright {
    margin-top: 26px;
}
.copyright p {
    margin: 0;
}

.social-icon ul li a i{
    font-size: 24px;
    line-height: 50px;
    color: #fff;
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 50%;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.social-icon ul li a i:hover{
    color: #ff2a40;
    border: 1px solid #ff2a40;
}



/* =-=-=-=-=-=-= Preloader =-=-=-=-=-=-= */
#preloader {
    background: #FFF;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
}

#status,
.status-mes {
    background-image: url(../images/preloder.gif);
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    left: 50%;
    margin: -100px 0 0 -100px;
    position: absolute;
    top: 50%;
    width: 200px;
}

.status-mes {
    background: none;
    left: 0;
    margin: 0;
    text-align: center;
    top: 65%;
}

.dropdown{
        position: relative;
    display: inline-block;
}



/* =-=-=-=-=-=-= Single project page =-=-=-=-=-=-= */

.single-project-section {}
.single-project-section .row-content{
    margin-top: 50px;
}
.project-overview {}
.project-overview h3,
.client-testimonial h3{
    margin-bottom: 20px;
}
.project-details-wrapper {}
.project-details {
    margin-bottom: 15px;
}

.project-details a{
    color: #666666;
}
.project-details a:hover{
    color: #ff2a40;
}
.client-testimonial {
    margin-top: 30px;
}
.client-testimonial h3{}
.client-testimonial blockquote {
    font-size: 17px;
    border-left: 5px solid #ff2a40;
    background: #fafafa;
    font-style: italic;
}

.bg-overlay:before{
	content:close-quote;
	background-color: rgba(0, 0, 0, 0.3);
	width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.bg-overlay {
    top: 0%;
    left: 0%;
    width: 100%;
    position: relative;
}

.home-newsletter {
padding-top: 20px;
}

.home-newsletter .single {
max-width: 450px;
margin: 0 auto;
text-align: center;
position: relative;
z-index: 2; }
.home-newsletter .single h2 {
font-size: 20px;
color: white;
text-transform: uppercase;
margin-bottom: 20px; }
.home-newsletter .single .form-control {
height: 50px;
border-color: transparent;
border-radius: 20px 0 0 20px; }
.home-newsletter .single .form-control:focus {
box-shadow: none;
border-color: #243c4f; }
.home-newsletter .single .btn {
min-height: 50px; 
border-radius: 0 20px 20px 0;
background: #243c4f;
color: #fff;
}

.martop {
margin-top:15px;}

.lead a {
color:#337ab7;
}

.blog-post-image {
max-width:100%;
height:auto;
}

.rounded{
   border-radius: .25rem!important;
}

.rounded-circle{border-radius:50%!important;}

.card-header {
   padding: .75rem 1.25rem;
   margin-bottom: 0;
   background-color: rgba(0,0,0,.03);
   border-bottom: 1px solid rgba(0,0,0,.125);
}

.card{    position: relative;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-direction: column;
   flex-direction: column;
   min-width: 0;
   word-wrap: break-word;
   background-color: #fff;
   background-clip: border-box;
   border: 1px solid rgba(0,0,0,.125);
   border-radius: .25rem;}

.card-body {
   -ms-flex: 1 1 auto;
   flex: 1 1 auto;
padding: 1.25rem;}

.card-header:first-child {
   border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

.media {
   display: -ms-flexbox;
   display: flex;
   -ms-flex-align: start;
align-items: flex-start;}

.margbottom {
   margin-bottom: 1.5rem!important;
}

.margright{
margin-right:16px!important;
}

.media-body {
   -ms-flex: 1;
   flex: 1;
}
.business-header {
  height: 50vh;
  min-height: 300px;
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.card-text {
    
    line-height:18px;
}
.card-title{
    margin-bottom:15px;
}
.card-footer p {
    display:inline-block;
}

.navbar-login
{
   width: 250px;
   padding: 10px;
   padding-bottom: 0px;
}

.navbar-login-session
{
   padding: 10px;
   padding-bottom: 0px;
   padding-top: 0px;
}

.navbar-login a{
color:#337ab7;
}
.navbar-login p{
margin:0px!important;
}
.signouttext {
color: #ffffff!important;
}

.profile-pic {
   max-width: 200px;
   max-height: 200px;
   display: block;
}

.file-upload {
   display: none!important;
}
.circle {
   overflow: hidden;
  border: 2px solid rgba(210, 210, 210, 0.7);
   position: absolute;
}
img {
   max-width: 100%;
   height: auto;
}
.p-user-image {
 position: absolute;
 top: 260px;
 right: 30%;
 color: #666666;
 transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.p-user-image:hover {
 transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.p-pet-image:hover {
 transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.p-pet-image {
 position: absolute;
 top: 260px;
 right: 30%;
 color: #666666;
 transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.upload-button {
 font-size: 1.2em;
}

.upload-button:hover {
 transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
 color: #999;
}
.head{float:left;width:100%;}
.search-box{margin:25px auto 40px;}
.listing-block{background:#fff; height:500px; padding-top:20px; overflow-y:scroll;}
.media {background:#fff; position:relative; margin-bottom:15px;border: 1px solid red;}
.media img{margin:0; }
.media-body{margin-left:3px; border-left:0; height:136px;}
.media .price{float:left; width:100%; font-size:30px;font-weight:600; color:#4765AB;}
.media .price small{display:block; font-size:17px; color:#232323;}
.media .stats{float:left; width:100%; margin-top:10px;}
.media .stats span{float:left; margin-right:10px; font-size:15px;}
.media .stats span i{margin-right:7px; color:#4765AB;}
.media .address{float:left; width:100%;font-size:14px; margin-top:5px; color:#888;}
.media .fav-box{position:absolute; left:10px; font-size:20px; top:4px; color:#E74C3C;}



@media (max-width : 766px) {
	/*home-carousel*/
	.slider-section{
		max-height: 400px;
	}
	.carousel-caption {
	  margin-top: -80px;
	}
	.carousel-caption h1 {
	  font-size: 22px;
	  line-height: 35px;
	  letter-spacing: 0px;
	  margin-bottom: 0;	
	}
	.carousel-caption p {
	  font-size: 12px;
	  margin-bottom: 15px;
	  line-height:16px;
	  padding:0px 20px;
	}
	.carousel-caption .btn {
	  font-size: 13px;
	  padding: 10px 10px;
	}
	
	.home-newsletter .single h2 {
		font-size: 15px;
		color: white;
		text-transform: uppercase;
		margin-bottom: 20px; 
		}
.padleft {
padding-left:15px;
}	
.p-user-image{
   top: 1505px;
   right: 27%;
}
.p-pet-image{
   top: 1000px;
   right: 27%;
}

		
}


